
/* =========================================
   Animation Keyframes
   ========================================= */

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes marquee1 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes scroll-1 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes scroll-2 {
  0% {
    transform: translateX(80%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes tabinganimation {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }

  50% {
    opacity: 1;
    transform: translateX(0);
  }
}


/* =========================================
   6. Animation Keyframes
   ========================================= */
@keyframes waves {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 0;
  }
}
