/* Font Sizes Classes */
.font-size-1-14 { font-size: 0.875rem; }
.font-size-1-16 { font-size: 1rem; }
.font-size-1-18 { font-size: 1.125rem; }
.font-size-1-20 { font-size: 1.25rem; }
.font-size-1-30 { font-size: 2rem; }
.font-size-1-45 { font-size: 2.8rem; font-weight: 700; }
.font-size-1-60 { font-size: 3.5rem; font-weight: 700; }
.font-size-1-14 { font-size: 0.875rem;}
.font-size-1-15 {
  font-size: 0.94rem;
}

.font-size-1-16 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.font-size-1-18 {
  font-size: 1.125rem;
  line-height: 1.5;
}

.font-size-1-20 {
  font-size: 1.25rem;
  line-height: 1.8;
}

.font-size-1-22 {
  font-size: 1.4rem;
}

.font-size-1-25 {
  font-size: 1.5rem;
}

.font-size-1-26 {
  font-size: 1.75rem;
}

.font-size-1-30 {
  font-size: 2rem;
}

.font-size-1-35 {
  font-size: 2.25rem;
}

.font-size-1-40 {
  font-size: 2.5rem;
}

.font-size-1-45 {
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.font-size-1-48 {
  font-size: 3rem;
}

.font-size-1-50 {
  font-size: 3rem;
}

.font-size-1-60 {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
@media (max-width: 424px) {
  .font-size-1-26 {
    font-size: 1rem;
    line-height: 1.2;
  }

  .font-size-1-30 {
    font-size: 1rem;
    line-height: 1.2;
  }

  .font-size-1-70 {
    font-size: 2rem;
  }
}

@media (max-width: 524px) {
  .font-size-1-45 {
    font-size: 1.5rem;
  }

  .font-size-1-40 {
    font-size: 1.4rem;
    line-height: 1.2;
  }
}

@media (max-width: 768px) {
  .font-size-1-70 {
    font-size: 3rem;
  }
}

@media (max-width: 1024px) {
  .font-size-1-30 {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .font-size-1-35 {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  .font-size-1-45 {
    font-size: 2.25rem;
    line-height: 1.2;
  }
}
