 <div class="cs-pagination-area pt-5 mt-5 mb-5 pb-5">
    <div class="container">
    <div class="row justify-content-between align-items-center">
        
        <div class="col-auto">
            <a href="#" class="p-prev-button" id="nav-prev-link">
                <div class="icon-box">
                    <i class="ri-arrow-right-line fs-4"></i>
                </div>
                <div>
                    <span class="p-span-prev">الدراسة السابقة</span>
                    <h5 class="p-title" id="nav-prev-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">...</h5>
                </div>
            </a>
        </div>

        <div class="col-auto">
            <a href="/ar/case-studies/" class="btn p-home">
                <i class="ri-grid-fill me-2"></i> عرض الكل
            </a>
        </div>

        <div class="col-auto text-end">
            <a href="#" class="p-next-button" id="nav-next-link">

                <div>
                    <span class="p-span-next">الدراسة التالية</span>
                    <h5 class="p-title" id="nav-next-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">...</h5>
                </div>
                                <div class="icon-box">
                    <i class="ri-arrow-left-line fs-4"></i>
                </div>
            </a>
        </div>


    </div></div>
</div>
 