  <section class="project-details-content section-padding">
    <div class="container">
      <div class="row justify-content-between">
        
        <div class="col-lg-4">
          <div class="project-info-sidebar sticky-sidebar">
            <div class="info-box">
              <h3 class="font-size-1-24 mb-4 border-bottom pb-3">بيانات المشروع</h3>
          
              <ul class="project-meta-list">
                <li>
                  <span class="meta-label">العميل:</span>
                  <span class="meta-value" data-bind="client">--</span>
                </li>
                <li>
                  <span class="meta-label">الخدمات:</span>
                  <span class="meta-value" data-bind="services">--</span>
                </li>
                <li>
                  <span class="meta-label">السنة:</span>
                  <span class="meta-value" data-bind="date">--</span>
                </li>
                <li>
                  <span class="meta-label">المدة:</span>
                  <span class="meta-value" data-bind="duration">--</span>
                </li>
              </ul>


             <div class="tech-card mt-4">
            <h5 class="font-size-1-18 text-muted mb-3">التقنيات المستخدمة</h5>
            <div class="small d-flex flex-wrap gap-2" data-bind="technologies">--
               </div>

            <div class="share-project mt-4">
              <span class="font-size-1-16 ms-3">شارك المشروع</span>
              <div class="social-links">
                 <a href="#"><i class="ri-facebook-fill"></i></a>
                 <a href="#"><i class="ri-twitter-x-line"></i></a>
                 <a href="#"><i class="ri-linkedin-fill"></i></a>
              </div>
            </div>
            <div class="project-link mt-4">
                <a data-bind="website" href="" target="_blank" class="btn-1 w-100 text-center" >
                  زيارة الموقع
                  <i class="ri-arrow-left-up-line me-2"></i>
                </a>
              </div>
          </div>


            </div>
      </div>
    </div>

        <div class="col-lg-7 mt-5 mt-lg-0">
          <div class="project-story">
  <div class="row">      
<div class="col-md-6">
<img src="#" alt="Project Cover" class="img-fluid rounded-4 vre-reveal-image-one"  data-bind="challenge-image">
</div>
<div class="col-md-6">
            <div class="story-block mb-5">
              <h3 class="font-size-1-30 mb-3">التحدي</h3>
              <p class="font-size-1-18 opacity-75 justify-text" data-bind="challenge">--</p>
            </div>
</div>
</div>    


            <div class="story-block mb-5">
              <h3 class="font-size-1-30 pt-5 mb-3">الحل المقترح</h3>
              <p class="font-size-1-18 opacity-75 justify-text" data-bind="solution">--</p>
            </div>

            <div class="row g-4 mb-5">
  


              <div class="gallery-section mb-5">
             <div class="row g-3" id="project-gallery-container">
                </div>
          </div>

  <div class="row">      
<div class="col-md-8">
            <div class="story-block mb-5">
              <h3 class="font-size-1-30 mb-3">النتيجة</h3>
              <p class="font-size-1-18 opacity-75 justify-text" data-bind="result">--</p>
            </div>
</div>
<div class="col-md-4">
                   <div class="stat-card bg-dark text-white p-4 rounded-4 text-center">
                      <h2 class="display-4 fw-bold text-primary mb-0" data-bind="stats_number">--</h2>
                      <span class="small text-white-50 text-uppercase" data-bind="stats_label">--</span>

                </div>
            </div>
</div>


</div>    

















          </div>

        </div>

      </div>




  </section>

