<div class="project-navigation-area border-top border-white-10 ptb-60">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      

        <div class="col-auto">
            <a href="#" class="p-prev-button" id="nav-prev-link">
                <div class="icon-box">
                    <i class="ri-arrow-right-line fs-4"></i>
                </div>
                <div>
                    <span class="p-span-prev">المشروع السابق</span>
                    <h5 class="p-title" id="nav-prev-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">...</h5>
                </div>
            </a>
        </div>

        <div class="col-auto">
            <a href="/ar/projects/" class="btn p-home">
                <i class="ri-grid-fill me-2"></i> جميع المشاريع
            </a>
        </div>

        <div class="col-auto text-end">
            <a href="#" class="p-next-button" id="nav-next-link">

                <div>
                    <span class="p-span-next">المشروع التالي</span>
                    <h5 class="p-title" id="nav-next-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">...</h5>
                </div>
                                <div class="icon-box">
                    <i class="ri-arrow-left-line fs-4"></i>
                </div>
            </a>
        </div>

    </div>
  </div>
</div>