  <!-- Start Counter Area Home 1 -->
  <div class="stats-counter">
    <div class="container">
      <div class="counter-wrapper">
        <div class="counter-itme vre-slide-down-gsap">
          <div class="counter-number">
            <span class="counter" data-speed="1000">150</span><span>+</span>
          </div>
          <div class="counter-number-info">
            <span class="font-size-1-15">زبون<br>
              راض عنا</span>
          </div>
        </div>
        <div class="counter-itme vre-slide-down-gsap">
          <div class="counter-number">
            <span class="counter" data-speed="1000">300</span><span>+</span>
          </div>
          <div class="counter-number-info">
            <span class="font-size-1-15">مشروع <br>
              مكتمل</span>

          </div>
        </div>
        <div class="counter-itme vre-slide-down-gsap">
          <div class="counter-number">
            <span class="counter" data-speed="1000">98</span><span>%</span>
          </div>
          <div class="counter-number-info">
            <span class="font-size-1-15">من العملاء<br>
              راضين عن خدماتنا</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Counter Area Home 1 -->
