  <!-- Start Marquee Area Home 1 -->
  <div class="marquee-strip marque-home">
    <img src="/assets/images/home/marque-home.webp" alt="VRE">
    <div class="marque-1">
      <span>&nbsp;تصميم العلامات التجارية&nbsp;</span>
      <span>&nbsp;التصميم الجرافيكي&nbsp;</span>
      <span>&nbsp;المطبوعات والتغليف&nbsp;</span>
      <span>&nbsp;مونتاج الفيديو&nbsp;</span>
      <span>&nbsp;الموشن ديزاين&nbsp;</span>
      <span>&nbsp;التعليق الصوتي&nbsp;</span>
      <span>&nbsp;تطوير المواقع والمتاجر&nbsp;</span>
      <span>&nbsp;تحسين محركات البحث&nbsp;</span>
      <span>&nbsp;التسويق الرقمي&nbsp;</span>
      <span>&nbsp;الإعلانات&nbsp;</span>
      <span>&nbsp;تصميم العلامات التجارية&nbsp;</span>
      <span>&nbsp;التصميم الجرافيكي&nbsp;</span>
      <span>&nbsp;المطبوعات والتغليف&nbsp;</span>
      <span>&nbsp;مونتاج الفيديو&nbsp;</span>
      <span>&nbsp;الموشن ديزاين&nbsp;</span>
      <span>&nbsp;التعليق الصوتي&nbsp;</span>
      <span>&nbsp;تطوير المواقع والمتاجر&nbsp;</span>
      <span>&nbsp;تحسين محركات البحث&nbsp;</span>
      <span>&nbsp;التسويق الرقمي&nbsp;</span>
      <span>&nbsp;الإعلانات&nbsp;</span>
      <span>&nbsp;تصميم العلامات التجارية&nbsp;</span>
      <span>&nbsp;التصميم الجرافيكي&nbsp;</span>
      <span>&nbsp;المطبوعات والتغليف&nbsp;</span>
      <span>&nbsp;مونتاج الفيديو&nbsp;</span>
      <span>&nbsp;الموشن ديزاين&nbsp;</span>
      <span>&nbsp;التعليق الصوتي&nbsp;</span>
      <span>&nbsp;تطوير المواقع والمتاجر&nbsp;</span>
      <span>&nbsp;تحسين محركات البحث&nbsp;</span>
      <span>&nbsp;التسويق الرقمي&nbsp;</span>
      <span>&nbsp;الإعلانات&nbsp;</span>
    </div>
    <div class="marque-1 marque-2">
      <span>&nbsp;تصميم العلامات التجارية&nbsp;</span>
      <span>&nbsp;التصميم الجرافيكي&nbsp;</span>
      <span>&nbsp;المطبوعات والتغليف&nbsp;</span>
      <span>&nbsp;مونتاج الفيديو&nbsp;</span>
      <span>&nbsp;الموشن ديزاين&nbsp;</span>
      <span>&nbsp;التعليق الصوتي&nbsp;</span>
      <span>&nbsp;تطوير المواقع والمتاجر&nbsp;</span>
      <span>&nbsp;تحسين محركات البحث&nbsp;</span>
      <span>&nbsp;التسويق الرقمي&nbsp;</span>
      <span>&nbsp;الإعلانات&nbsp;</span>
      <span>&nbsp;تصميم العلامات التجارية&nbsp;</span>
      <span>&nbsp;التصميم الجرافيكي&nbsp;</span>
      <span>&nbsp;المطبوعات والتغليف&nbsp;</span>
      <span>&nbsp;مونتاج الفيديو&nbsp;</span>
      <span>&nbsp;الموشن ديزاين&nbsp;</span>
      <span>&nbsp;التعليق الصوتي&nbsp;</span>
      <span>&nbsp;تطوير المواقع والمتاجر&nbsp;</span>
      <span>&nbsp;تحسين محركات البحث&nbsp;</span>
      <span>&nbsp;التسويق الرقمي&nbsp;</span>
      <span>&nbsp;الإعلانات&nbsp;</span>
      <span>&nbsp;تصميم العلامات التجارية&nbsp;</span>
      <span>&nbsp;التصميم الجرافيكي&nbsp;</span>
      <span>&nbsp;المطبوعات والتغليف&nbsp;</span>
      <span>&nbsp;مونتاج الفيديو&nbsp;</span>
      <span>&nbsp;الموشن ديزاين&nbsp;</span>
      <span>&nbsp;التعليق الصوتي&nbsp;</span>
      <span>&nbsp;تطوير المواقع والمتاجر&nbsp;</span>
      <span>&nbsp;تحسين محركات البحث&nbsp;</span>
      <span>&nbsp;التسويق الرقمي&nbsp;</span>
      <span>&nbsp;الإعلانات&nbsp;</span>
    </div>
  </div>
  <!-- End Marquee Area Home 1 -->
