  <!-- Start Marquee Area Home 3 -->
  <div class="marquee-strip">
    <img src="/assets/images/services/marque-img.webp" alt="VRE">
    <div class="marque-1">
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
      <span>&nbsp;Content Marketing Search Engine&nbsp;</span>
    </div>
    <div class="marque-1 marque-2">
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
      <span>&nbsp;Optimization Social Media&nbsp;</span>
    </div>
  </div>
  <!-- End Marquee Area Home 3 -->

