
  <!-- Start Whois -->
  <section class="whois-area">
    <img src="/assets/images/static/bg-blur-shep-1.png" alt="VRE" class="grx-whois-area-bg-shep-1 blur-1">
    <img src="/assets/images/static/bg-blur-shep-1.png" alt="VRE" class="grx-whois-area-bg-shep-2 blur-1">
    <div class="container">
      <div class="title">
        <div class="sub-title text-center">
          <p>لمن تصلح خدمات جرافكسي؟</p>
        </div>
        <div class="main-title text-center">
          <h2 class="split-collab text-center"> نُقدّم حلولاً إبداعية لكل من يسعى للنمو والتميز </h2>
        </div>
      </div>
      <div class="whois-wrapper">
        <nav>
          <div class="nav nav-tabs" id="nav-tab2" role="tablist">
            <button class="nav-link active font-size-1-24" id="nav-home-tab44" data-bs-toggle="tab"
              data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">الوكالات
              الإبداعية</button>
            <button class="nav-link font-size-1-24" id="nav-profile-tab1" data-bs-toggle="tab"
              data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
              aria-selected="false">الشركات الصغيرة والمتوسطة</button>
            <button class="nav-link font-size-1-24" id="nav-contact-tab2" data-bs-toggle="tab"
              data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
              aria-selected="false">فرق التسويق</button>
            <button class="nav-link font-size-1-24" id="nav-contact-tab3" data-bs-toggle="tab"
              data-bs-target="#nav-Contact" type="button" role="tab" aria-controls="nav-contact"
              aria-selected="false">الشركات الكبرى</button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent1">
          <div class="tab-pane fade show active tab-animation" id="nav-home" role="tabpanel">
            <div class="whois-inner">
              <div class="whois-item">
                <div class="whois-item-wrapper-1">
                  <div class="whois-text-inner">
                    <h4 class="font-size-1-35">الوكالات الإبداعية</h4>
                    <p class="font-size-1-18">ضاعف إنتاج فريقك دون زيادة التكاليف التشغيلية. في الوقت الذي تتراكم فيه
                      الطلبات وتضيق المواعيد النهائية، يتولى فريق جرافكسي تنفيذ أعمالك الإبداعية بسرعة ودقة، لتتمكن من
                      التركيز على إدارة عملائك وتنمية وكالتك.</p>
                    <div class="whois-list">
                      <div class="whois-list-wrapper">
                        <div class="whois-list-left">
                          <span class="whois-point">
                            <svg width="30" height="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path fill="var(--brand-accent-1)"
                                d="M12 1C4.29 1 1 4.29 1 12s3.29 11 11 11 11-3.29 11-11S19.71 1 12 1m5.305 8.539c-1.312 2.053-3.18 4.626-6.001 6.319a1 1 0 0 1-1.05-.013c-1.52-.963-2.661-1.995-3.594-3.248a1 1 0 0 1 1.603-1.194c.674.905 1.488 1.679 2.536 2.405 2.16-1.46 3.644-3.507 4.819-5.346a1 1 0 1 1 1.686 1.077z" />
                            </svg>
                            <span class="font-size-1-20">تسريع إنتاج المحتوى الإبداعي وخفض التكاليف</span>
                          </span>
                          <span class="whois-point">
                            <svg width="30" height="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path fill="var(--brand-accent-1)"
                                d="M12 1C4.29 1 1 4.29 1 12s3.29 11 11 11 11-3.29 11-11S19.71 1 12 1m5.305 8.539c-1.312 2.053-3.18 4.626-6.001 6.319a1 1 0 0 1-1.05-.013c-1.52-.963-2.661-1.995-3.594-3.248a1 1 0 0 1 1.603-1.194c.674.905 1.488 1.679 2.536 2.405 2.16-1.46 3.644-3.507 4.819-5.346a1 1 0 1 1 1.686 1.077z" />
                            </svg>
                            <span class="font-size-1-20">مرونة في تنفيذ أي حجم من الطلبات</span>
                          </span>
                          <span class="whois-point">
                            <svg width="30" height="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path fill="var(--brand-accent-1)"
                                d="M12 1C4.29 1 1 4.29 1 12s3.29 11 11 11 11-3.29 11-11S19.71 1 12 1m5.305 8.539c-1.312 2.053-3.18 4.626-6.001 6.319a1 1 0 0 1-1.05-.013c-1.52-.963-2.661-1.995-3.594-3.248a1 1 0 0 1 1.603-1.194c.674.905 1.488 1.679 2.536 2.405 2.16-1.46 3.644-3.507 4.819-5.346a1 1 0 1 1 1.686 1.077z" />
                            </svg>
                            <span class="font-size-1-20">الالتزام بالمواعيد الحاسمة مهما كانت الضغوط</span>
                          </span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="whois-item-wrapper-2">
                  <div class="whois-banner vre-reveal-one">
                    <img src="/assets/images/services/for-agency.webp" alt="VRE" class="vre-reveal-image-one">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade tab-animation" id="nav-profile" role="tabpanel">
            <div class="whois-inner">
              <div class="whois-item">
                <div class="whois-item-wrapper-1">
                  <div class="whois-text-inner">
                    <h4 class="font-size-1-35">الشركات الصغيرة والمتوسطة</h4>
                    <p class="font-size-1-16">حلول تصميم احترافية بأسعار واضحة تناسب ميزانيتك. لا حاجة للتصميم العشوائي
                      أو التعاقدات المُكلفة. مع جرافكسي، تحصل على أعمال تضاعف قوة علامتك وتجعل منافسيك خلفك.</p>
                    <div class="whois-list">
                      <div class="whois-list-wrapper">
                        <div class="whois-list-left">
                          <span class="whois-point">
                            <svg width="30" height="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path fill="var(--brand-accent-1)"
                                d="M12 1C4.29 1 1 4.29 1 12s3.29 11 11 11 11-3.29 11-11S19.71 1 12 1m5.305 8.539c-1.312 2.053-3.18 4.626-6.001 6.319a1 1 0 0 1-1.05-.013c-1.52-.963-2.661-1.995-3.594-3.248a1 1 0 0 1 1.603-1.194c.674.905 1.488 1.679 2.536 2.405 2.16-1.46 3.644-3.507 4.819-5.346a1 1 0 1 1 1.686 1.077z" />
                            </svg>
                            <span class="font-size-1-20">دعم نمو نشاطك بخطط تصميم واضحة</span>
                          </span>
                          <span class="whois-point">
                            <svg width="30" height="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path fill="var(--brand-accent-1)"
                                d="M12 1C4.29 1 1 4.29 1 12s3.29 11 11 11 11-3.29 11-11S19.71 1 12 1m5.305 8.539c-1.312 2.053-3.18 4.626-6.001 6.319a1 1 0 0 1-1.05-.013c-1.52-.963-2.661-1.995-3.594-3.248a1 1 0 0 1 1.603-1.194c.674.905 1.488 1.679 2.536 2.405 2.16-1.46 3.644-3.507 4.819-5.346a1 1 0 1 1 1.686 1.077z" />
                            </svg>
                            <span class="font-size-1-20">تقليل تكاليف التوظيف والتعاقدات بنسبة كبيرة</span>
                          </span>
                          <span class="whois-point">
                            <svg width="30" height="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path fill="var(--brand-accent-1)"
                                d="M12 1C4.29 1 1 4.29 1 12s3.29 11 11 11 11-3.29 11-11S19.71 1 12 1m5.305 8.539c-1.312 2.053-3.18 4.626-6.001 6.319a1 1 0 0 1-1.05-.013c-1.52-.963-2.661-1.995-3.594-3.248a1 1 0 0 1 1.603-1.194c.674.905 1.488 1.679 2.536 2.405 2.16-1.46 3.644-3.507 4.819-5.346a1 1 0 1 1 1.686 1.077z" />
                            </svg>
                            <span class="font-size-1-20">إنجاز الطلبات بدون أي التزامات طويلة</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="whois-item-wrapper-2">
                  <div class="whois-banner vre-reveal-one">
                    <img src="/assets/images/services/for-agency.webp" alt="VRE" class="vre-reveal-image-one">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade tab-animation" id="nav-contact" role="tabpanel">
            <div class="whois-inner">
              <div class="whois-item">
                <div class="whois-item-wrapper-1">
                  <div class="whois-text-inner">
                    <h4 class="font-size-1-35">فرق التسويق</h4>
                    <p class="font-size-1-16">اصنع نموًا أسرع لحملاتك دون انتظار طويل للتصميمات. أرسل فكرتك، واترك
                      الباقي علينا. جرافكسي يقدم لك مواد تسويقية جاهزة للطرح… بسرعة تتماشى مع إيقاع السوق.</p>
                    <div class="whois-list">
                      <div class="whois-list-wrapper">
                        <div class="whois-list-left">
                          <span class="whois-point">
                            <svg width="30" height="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path fill="var(--brand-accent-1)"
                                d="M12 1C4.29 1 1 4.29 1 12s3.29 11 11 11 11-3.29 11-11S19.71 1 12 1m5.305 8.539c-1.312 2.053-3.18 4.626-6.001 6.319a1 1 0 0 1-1.05-.013c-1.52-.963-2.661-1.995-3.594-3.248a1 1 0 0 1 1.603-1.194c.674.905 1.488 1.679 2.536 2.405 2.16-1.46 3.644-3.507 4.819-5.346a1 1 0 1 1 1.686 1.077z" />
                            </svg>
                            <span class="font-size-1-20">التخلص من الاختناقات الإبداعية</span>
                          </span>
                          <span class="whois-point">
                            <svg width="30" height="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path fill="var(--brand-accent-1)"
                                d="M12 1C4.29 1 1 4.29 1 12s3.29 11 11 11 11-3.29 11-11S19.71 1 12 1m5.305 8.539c-1.312 2.053-3.18 4.626-6.001 6.319a1 1 0 0 1-1.05-.013c-1.52-.963-2.661-1.995-3.594-3.248a1 1 0 0 1 1.603-1.194c.674.905 1.488 1.679 2.536 2.405 2.16-1.46 3.644-3.507 4.819-5.346a1 1 0 1 1 1.686 1.077z" />
                            </svg>
                            <span class="font-size-1-20">تسليم أسرع من المعتاد بمرات عديدة</span>
                          </span>
                          <span class="whois-point">
                            <svg width="30" height="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path fill="var(--brand-accent-1)"
                                d="M12 1C4.29 1 1 4.29 1 12s3.29 11 11 11 11-3.29 11-11S19.71 1 12 1m5.305 8.539c-1.312 2.053-3.18 4.626-6.001 6.319a1 1 0 0 1-1.05-.013c-1.52-.963-2.661-1.995-3.594-3.248a1 1 0 0 1 1.603-1.194c.674.905 1.488 1.679 2.536 2.405 2.16-1.46 3.644-3.507 4.819-5.346a1 1 0 1 1 1.686 1.077z" />
                            </svg>
                            <span class="font-size-1-20">دعم كامل لعمليات التصميم داخل فريقك</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="whois-item-wrapper-2">
                  <div class="whois-banner vre-reveal-one">
                    <img src="/assets/images/services/for-agency.webp" alt="VRE" class="vre-reveal-image-one">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade tab-animation" id="nav-Contact" role="tabpanel">
            <div class="whois-inner">
              <div class="whois-item">
                <div class="whois-item-wrapper-1">
                  <div class="whois-text-inner">
                    <h4 class="font-size-1-35">الشركات الكبرى</h4>
                    <p class="font-size-1-20">فريق تصميم متكامل.. دون الحاجة إلى أقسام داخلية. بدلًا من توظيف مصممين أو
                      إنشاء قسم كامل، تتولى جرافكسي تنفيذ احتياجات التصميم عبر جميع أقسام الشركة، بإدارة مباشرة وسلسة.
                    </p>
                    <div class="whois-list">
                      <div class="whois-list-wrapper">
                        <div class="whois-list-left">
                          <span class="whois-point">
                            <svg width="30" height="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path fill="var(--brand-accent-1)"
                                d="M12 1C4.29 1 1 4.29 1 12s3.29 11 11 11 11-3.29 11-11S19.71 1 12 1m5.305 8.539c-1.312 2.053-3.18 4.626-6.001 6.319a1 1 0 0 1-1.05-.013c-1.52-.963-2.661-1.995-3.594-3.248a1 1 0 0 1 1.603-1.194c.674.905 1.488 1.679 2.536 2.405 2.16-1.46 3.644-3.507 4.819-5.346a1 1 0 1 1 1.686 1.077z" />
                            </svg>
                            <span class="font-size-1-20">الاستغناء عن التوظيف الداخلي وتكاليفه</span>
                          </span>
                          <span class="whois-point">
                            <svg width="30" height="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path fill="var(--brand-accent-1)"
                                d="M12 1C4.29 1 1 4.29 1 12s3.29 11 11 11 11-3.29 11-11S19.71 1 12 1m5.305 8.539c-1.312 2.053-3.18 4.626-6.001 6.319a1 1 0 0 1-1.05-.013c-1.52-.963-2.661-1.995-3.594-3.248a1 1 0 0 1 1.603-1.194c.674.905 1.488 1.679 2.536 2.405 2.16-1.46 3.644-3.507 4.819-5.346a1 1 0 1 1 1.686 1.077z" />
                            </svg>
                            <span class="font-size-1-20">توفير وقت كبير على مديري الأقسام</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="whois-item-wrapper-2">
                  <div class="whois-banner vre-reveal-one">
                    <img src="/assets/images/services/for-agency.webp" alt="VRE" class="vre-reveal-image-one">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Graphixy Whois -->
