  <section class="related-works pt-0">
    <div class="container">
      <div class="title d-flex justify-content-between align-items-end mb-5">
        <h2 class="font-size-1-50">أعمالنا في الهويات</h2>
        <a href="/ar/projects/" class="btn-1">شاهد الكل</a>
      </div>
      
      <div class="row g-4">
        <div class="col-lg-4 col-md-6">
          <div class="portfolio-item-card">
            <div class="portfolio-thumb">
              <img src="/assets/images/portfolio/project-1.webp" alt="Work 1">
              <div class="portfolio-overlay">
                <div class="overlay-content">
                  <h3 class="title"><a href="/ar/projects/project-details.html">مشروع عقاري</a></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="portfolio-item-card">
            <div class="portfolio-thumb">
              <img src="https://placehold.co/600x700" alt="Work 2">
              <div class="portfolio-overlay">
                <div class="overlay-content">
                  <h3 class="title"><a href="/ar/projects/project-details.html">مقهى مختص</a></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="portfolio-item-card">
            <div class="portfolio-thumb">
              <img src="https://placehold.co/600x700" alt="Work 3">
              <div class="portfolio-overlay">
                <div class="overlay-content">
                  <h3 class="title"><a href="/ar/projects/project-details.html">شركة تقنية</a></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>