.contact-area-main {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.contact-area-main.contact-area .form-wrapper form .input-item input {
  border-color: rgba(204, 255, 0, 0.15);
}

.contact-area-main.contact-area .form-wrapper form .input-item input:focus {
  border-color: var(--color-brand-primary);
}

.contact-area-main.contact-area .form-wrapper form textarea {
  border-color: rgba(204, 255, 0, 0.15);
}

.contact-area-main.contact-area .form-wrapper form textarea:focus {
  border-color: var(--color-brand-primary);
}

.contact-area-main.contact-area .form-wrapper form input[type='submit'] {
  background-color: var(--color-brand-primary);
  color: var(--color-text-dark);
}

@media (max-width: 991px) {
  .contact-area-main {
    padding-top: 4.25rem;
    padding-bottom: 4.25rem;
  }
}

.contact-area-main .contact-area-bg-shep-1 {
  position: absolute;
  top: -200px;
  right: 0;
}

.contact-area-main .contact-area-bg-shep-2 {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 991px) {
  .contact-area-main {
    padding-top: 4.25rem;
    padding-bottom: 4.25rem;
  }
}

.contact-area-main h5 {
  color: var(--color-text-primary);

  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}

@media (max-width: 575px) {
  .contact-area-main h5 {
    font-size: 1rem;
  }
}

.contact-area-main p {
  padding-top: 0cap;
  color: var(--color-text-primary);
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

.contact-area-main h4 {
  color: var(--color-text-primary);

  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}

@media (max-width: 575px) {
  .contact-area-main h4 {
    font-size: 1.5rem;
  }
}

@media (max-width: 499px) {
  .contact-area-main h4 {
    text-align: center;
  }
}

.contact-area-main .form-wrapper .title .main-title h2 {
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  font-size: 3.5rem;

  color: var(--color-text-primary);
  padding: 1rem 0 1rem 0 !important;
  margin-top: 1rem;
  margin-bottom: 0px;
}

@media (max-width: 499px) {
  .contact-area-main h2 {
    text-align: center;
  }
}

.contact-area-main span {
  color: var(--color-text-primary);

  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
}

@media (max-width: 499px) {
  .contact-area-main span {
    display: block;
    text-align: center;
  }
}

.contact-area-main ul {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}

@media (max-width: 499px) {
  .contact-area-main ul {
    justify-content: center;
  }
}

.contact-area-main ul li i {
  color: var(--color-accent-red);
  font-size: 1.5rem;
}

.contact-area-main .contact-info-wrapper {
  background-color: var(--color-bg-secondary);
  padding: 65px 55px;
  width: 33.125rem;
  border-radius: 0.25rem;
}

@media (max-width: 1162px) {
  .contact-area-main .contact-info-wrapper {
    width: 42.8rem;
  }
}

@media (max-width: 991px) {
  .contact-area-main .contact-info-wrapper {
    width: 52rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 767px) {
  .contact-area-main .contact-info-wrapper {
    width: auto;
  }
}

.contact-area-main .contact-info-wrapper .contact-info-inner {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.contact-area-main .contact-info-wrapper .contact-info-inner .contact-icon span {
  vertical-align: middle;
}

.contact-area-main .contact-info-wrapper .contact-info-inner .contact-text {
  vertical-align: middle;
}

@media (max-width: 499px) {
  .contact-area-main .contact-info-wrapper .contact-info-inner {
    display: block;
    text-align: center;
  }

  .contact-area-main .contact-info-wrapper .contact-info-inner .contact-icon span {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
  }
}

.contact-area-main .contact-info-wrapper .contact-info-inner:last-child {
  margin-bottom: 0;
}

.contact-area-main .form-wrapper .title {
  text-align: right;
}

@media (max-width: 991px) {
  .contact-area-main .form-wrapper .title {
    text-align: center;
  }
}

@media (max-width: 1140px) {
  .contact-area-main .form-wrapper .title h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1140px) and (max-width: 768px) {
  .contact-area-main .form-wrapper .title h2 {
    font-size: 2rem;
    line-height: 1.3;
  }
}

@media (max-width: 1140px) and (max-width: 51.5rem) {
  .contact-area-main .form-wrapper .title h2 {
    font-size: 1.4rem;
  }
}

.contact-area-main .form-wrapper form {
  margin-top: 3.5rem;
}

.contact-area-main .form-wrapper form .input-item {
  display: flex;
  gap: 1.5rem;
}

@media (max-width: 1199px) {
  .contact-area-main .form-wrapper form .input-item {
    display: block;
  }
}

@media (max-width: 991px) {
  .contact-area-main .form-wrapper form .input-item {
    display: flex;
  }
}

@media (max-width: 767px) {
  .contact-area-main .form-wrapper form {
    width: 100%;
  }

  .contact-area-main .form-wrapper form .input-item {
    display: block;
  }
}

.contact-area-main .form-wrapper form .input-item input {
  padding: 1rem 1.25rem;
  background-color: var(--color-bg-secondary);
  border-radius: 0.25rem;
  border: 1px solid rgba(255, 74, 59, 0.2);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;

  color: var(--color-text-primary);
  width: 100%;
  margin-bottom: 1rem;
  transition: 0.4s ease;
}

@media (max-width: 1199px) {
  .contact-area-main .form-wrapper form .input-item input {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .contact-area-main .form-wrapper form .input-item input {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .contact-area-main .form-wrapper form .input-item input {
    width: 100%;
  }
}

.contact-area-main .form-wrapper form .input-item input::placeholder {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;

  color: var(--overlay-light-50);
}

.contact-area-main .form-wrapper form .input-item input:focus {
  border-color: var(--color-accent-red);
}

.contact-area-main .form-wrapper form textarea {
  padding: 13px 21px;
  background-color: var(--color-bg-secondary);
  border-radius: 0.25rem;
  border: 1px solid rgba(255, 74, 59, 0.2);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;

  color: var(--color-text-primary);
  width: 100%;
  height: 165px;
  transition: 0.4s ease;
}

.contact-area-main .form-wrapper form textarea::placeholder {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;

  color: var(--overlay-light-50);
}

.contact-area-main .form-wrapper form textarea:focus {
  border-color: var(--color-accent-red);
}

.contact-area-main .form-wrapper form button {
  margin-top: 1rem;
  border: none;
}

.contact-area-main.contact-p .title .sub-title.sub-title-home-3 p,
.contact-area-main.contact-p .contact-info-wrapper ul li i {
  color: var(--color-brand-primary);
}