/* Start Faq Area */

.faq-section {
  position: relative;
  padding-top: 8rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 3.5rem;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 991px) {
  .faq-section {
    padding-top: 4.25rem;
  }
}

@media (max-width: 532px) {
  .faq-section .title .main-title h2 br {
    display: none;
  }
}

.faq-section .faq-wrapper {
  padding-top: 77px;
}

.faq-section .faq-wrapper .faq-banner {
  overflow: hidden;
}

@media (max-width: 991px) {
  .faq-section .faq-wrapper .faq-banner {
    margin-bottom: 2rem;
  }

  .faq-section .faq-wrapper .faq-banner img {
    margin: auto;
  }
}

.grafixy-faq-area {
  padding-top: 8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

@media (max-width: 991px) {
  .grafixy-faq-area {
    padding-top: 4.25rem;
  }
}

.grafixy-faq-area .grafixy-faq-area-area-shep-1 {
  position: absolute;
  right: 0;
  top: 0;
}

.grafixy-faq-area .faq-area-wrapper-1 {
  padding-bottom: 8rem;
  border-bottom: none;
}

@media (max-width: 480px) {
  .grafixy-faq-area .faq-area-wrapper-1 {
    padding-bottom: 3.5rem;
  }
}

.grafixy-faq-area .grafixy-faq-area-left .title {
  text-align: right;
}

.grafixy-faq-area .grafixy-faq-area-left p {
  color: var(--color-text-primary);
  font-weight: 500;
  text-align: justify;
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
}

.grafixy-faq-area .grafixy-faq-area-left .sub-title p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  color: var(--color-brand-primary);
  text-transform: uppercase;
  padding: 0 0 0 0;
}

@media (max-width: 991px) {
  .grafixy-faq-area .grafixy-faq-area-right .title {
    text-align: center;
  }
}

@media (max-width: 1385px) {
  .grafixy-faq-area .grafixy-faq-area-right .title h3 br {
    display: none;
  }
}

.grafixy-faq-area .grafixy-faq-area-right p {
  color: var(--color-text-primary);

  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  margin-top: 1.5rem;
}

.grafixy-faq-area .grafixy-faq-area-right .grafixy-faq-area-btn {
  margin-top: 2.5rem;
}

@media (max-width: 991px) {
  .grafixy-faq-area .grafixy-faq-area-right {
    text-align: center;
    max-width: 60%;
    margin: auto;
    margin-bottom: 2.5rem;
  }

  .grafixy-faq-area .grafixy-faq-area-right .grafixy-faq-area-btn {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .grafixy-faq-area .grafixy-faq-area-right {
    max-width: 85%;
  }
}

@media (max-width: 660px) {
  .grafixy-faq-area .grafixy-faq-area-right {
    max-width: 100%;
  }
}

.grafixy-faq-area .accordion-header {
  background: var(--color-brand-primary);
  color: var(--color-text-dark);
}

.faq-section {
  position: relative;
}

.faq-section .faq-section-shep-1 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.faq-section .faq-section-shep-2 {
  position: absolute;
  top: 80px;
  left: 0;
}

.faq-section .accordion-header:hover {
  color: var(--color-text-primary);
}

.faq-section.faq-page .faq-2 .accordion-header:hover {
  color: var(--color-text-primary);
}

/* services hero area */