<!-- Start Hero Home 1 Area -->
<section class="hero-main">
  <img src="/assets/images/static/bg-blur-shep-1.png" alt="VRE" class="hero-main-shep-1">
  <img src="/assets/images/static/bg-blur-shep-1.png" alt="VRE" class="hero-main-shep-2">
  <div class="hero-wrapper">
    <div class="container">
      <div class="hero-inner">
        <div class="row align-items-center">
          <div class="col-xl-7 col-lg-7">
            <div class="hero-inner-right">


              <div class="hero-title">
                <p class="font-size-1-22 split-collab">وكالة جرافكسي</p>
                <h1 class="font-size-1-60">
                  <span class="h1-part-one split-collab">نبتكر هويـــة عــلامتك،</span>
                  <span class="h1-part-two split-collab"> ونقـــود نموهــــا الـــرقمي.</span>
                </h1>
                <p class="font-size-1-20 vre-slide-up-gsap justify-text">
                  نحن وكالة إبداعية رقمية تمثل الجسر بين الأفكار الطموحة والواقع التجاري الملموس.
                  نساعد العلامات التجارية في السعودية والجزائر وعموم الوطن العربي على بناء قصة
                  نجاح فريدة تترك أثرًا دائمًا في السوق وتؤسس لعلاقة قوية مع جمهورها.
                </p>
                <div class="hero-info mt-50">
                  <a href="/ar/pages/about.html" class="font-size-1-20 btn-2">اعرف أكثر عن جرافكسي</a>
                  <a href="/ar/index.html#our-protfolio" class="font-size-1-20 btn-3">اكتشف أعمالنا</a>

                  <div class="some-clients-view">
                    <img src="/assets/images/home/rating-ar.webp" alt="VRE">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-lg-5">
            <div class="hero-main-banner">
              <img src="/assets/images/home/home-hero-slider.webp" alt="VRE" class="vre-slide-down-gsap">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero Home 1 Area -->