  <!-- Start Hervices Hero -->
  <section class="services-hero unified-bg">
    <img src="/assets/images/static/bg-blur-shep-1.png" alt="VRE" class="serv-hero-shep-1">
    <img src="/assets/images/static/bg-blur-shep-1.png" alt="VRE" class="serv-hero-shep-2">
    <div class="hero-wrapper">
      <div class="container">
        <div class="hero-inner">
          <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12">
              <div class="ser-hero-title">
                <h2 class="font-size-1-60 split-collab" id="quote">حلول إبداعية متكاملة لنمو علامتك
                  التجارية
                </h2>
              </div>
            </div>
            <div class="col-xl-12 col-lg-12">
              <div class="ser-hero-sub-title">
                <p class="font-size-1-25 vre-slide-up-gsap">في جرافكسي، نحن لا نبيعك "خدمة" جاهزة من
                  الرف.
                  نحن نبدأ بفهمك وفهم قصتك، ثم نصمم حلاً استراتيجيًا مفصلاً عليك كأنه خيط
                  حرير ينساب على مقاسك تمامًا. كل خدمة نقدمها هي فصل في قصة نجاحك التي نكتبها معًا،
                  مصممة
                  ليس فقط لتلبية احتياجاتك، بل
                  لتجاوز توقعاتك وتحقيق أثر حقيقي في السوق.
                </p>

                <div class="two-btns-row font-size-1-20">
                  <a href="/ar/services/" class="btn-s1 split-collab">

                    اكتشف خدماتنا بالتفصيل
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                      class="lucide lucide-circle-plus-icon lucide-circle-plus">
                      <circle cx="12" cy="12" r="10" />
                      <path d="M8 12h8" />
                      <path d="M12 8v8" />
                    </svg>

                  </a>
                  <a href="/ar/pages/contact.html" class="btn-s2 split-collab">

                    احصل على استشارة
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                      class="lucide lucide-corner-left-up-icon lucide-corner-left-up">
                      <path d="M14 9 9 4 4 9" />
                      <path d="M20 20h-7a4 4 0 0 1-4-4V4" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- End Services Hero -->

