 <section class="portfolio-hero-area ptb-100 position-relative">
    <img src="/assets/images/static/bg-blur-shep-1.png" alt="" class="bg-shape shape-1 blur-1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 mx-auto text-center">
          <div class="section-title">
            <span class="sub-title accent-text">معرض أعمالنا</span>
            <h1 class="main-title split-collab mb-20">إبداعاتنا تتحدث عن <span class="text-accent">تميزنا</span></h1>
            <p class="description font-size-1-18">
              تصفح مجموعة مختارة من مشاريعنا التي نفذناها بشغف ودقة لعملائنا في مختلف المجالات، حيث يلتقي الإبداع
              بالأداء.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>