.about-founder {
  position: relative;
  padding: 3.5rem 1rem;
}


@media (max-width: 991px) {
  .about-founder {
    padding: 4.25rem 1rem;
  }
}

.about-founder .about-founder-wrapper .about-founder-banner-img {
  padding-right: 3rem;
}

@media (max-width: 991px) {
  .about-founder .about-founder-wrapper .about-founder-banner-img {
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .about-founder .about-founder-wrapper .about-founder-banner-img img {
    margin: auto;
  }
}

@media (max-width: 991px) {
  .about-founder .about-founder-wrapper .about-founder-inner {
    margin-top: 2.25rem;
  }
}

.about-founder .about-founder-wrapper .about-founder-inner h2 {
  color: var(--color-text-primary);
  font-style: normal;
  font-weight: 700;
  line-height: 3.5rem;
}

@media (max-width: 53.5rem) {
  .about-founder .about-founder-wrapper .about-founder-inner h2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 1062px) {
  .about-founder .about-founder-wrapper .about-founder-inner h2 br {
    display: none;
  }
}

@media (max-width: 991px) {
  .about-founder .about-founder-wrapper .about-founder-inner h2 br {
    display: block;
  }
}

@media (max-width: 561px) {
  .about-founder .about-founder-wrapper .about-founder-inner h2 br {
    display: none;
  }
}

.about-founder .about-founder-wrapper .about-founder-inner h2 span {
  color: var(--color-accent-teal);
}

.about-founder .about-founder-wrapper .about-founder-inner p {
  font-style: normal;
  text-align: justify;
  font-weight: 400;
  line-height: 1.75rem;
  color: var(--color-text-primary);

  margin-top: 1.4rem;
}

.about-founder .about-founder-wrapper .about-founder-inner .seo-house-icon-wrapper {
  display: flex;
  align-items: center;
  margin-top: 47px;
  gap: 78px;
}

@media (max-width: 1087px) {
  .about-founder .about-founder-wrapper .about-founder-inner .seo-house-icon-wrapper {
    display: block;
  }
}

.about-founder .about-founder-wrapper .about-founder-inner .seo-house-icon-wrapper .seo-house-icon-right,
.about-founder .about-founder-wrapper .about-founder-inner .seo-house-icon-wrapper .seo-house-icon-left {
  display: flex;
  align-items: center;
  gap: 13px;
}

@media (max-width: 1087px) {

  .about-founder .about-founder-wrapper .about-founder-inner .seo-house-icon-wrapper .seo-house-icon-right.seo-house-icon-left,
  .about-founder .about-founder-wrapper .about-founder-inner .seo-house-icon-wrapper .seo-house-icon-left.seo-house-icon-left {
    margin-top: 1rem;
  }
}

.about-founder .about-founder-wrapper .about-founder-inner .seo-house-icon-wrapper .seo-house-icon-right span,
.about-founder .about-founder-wrapper .about-founder-inner .seo-house-icon-wrapper .seo-house-icon-left span {
  font-style: normal;
  font-weight: 300;
  line-height: 28px;

  color: var(--color-text-primary);
}

@media (max-width: 1087px) {

  .about-founder .about-founder-wrapper .about-founder-inner .seo-house-icon-wrapper .seo-house-icon-right span br,
  .about-founder .about-founder-wrapper .about-founder-inner .seo-house-icon-wrapper .seo-house-icon-left span br {
    display: none;
  }
}

.about-founder .about-founder-wrapper .about-founder-inner .about-founder-quets {
  margin-top: 42px;
  border-bottom: 1px solid rgba(221, 221, 221, 0.58);
  padding-bottom: 38px;
}

.about-founder .about-founder-wrapper .about-founder-inner .about-founder-quets p {
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;

  color: var(--color-text-primary);
}

.about-founder .about-founder-wrapper .about-founder-inner .about-founder-director {
  display: flex;
  align-items: center;
  gap: 3.5rem;
  margin-top: 1.5rem;
}

@media (max-width: 500px) {
  .about-founder .about-founder-wrapper .about-founder-inner .about-founder-director {
    display: block;
  }
}

.about-founder .about-founder-wrapper .about-founder-inner .about-founder-director .about-founder-director-img {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 500px) {
  .about-founder .about-founder-wrapper .about-founder-inner .about-founder-director .about-founder-director-img {
    margin-bottom: 1rem;
  }
}

.about-founder .about-founder-wrapper .about-founder-inner .about-founder-director .about-founder-director-img .about-founder-director-main-img img {
  max-width: 5.25rem;
}

.about-founder .about-founder-wrapper .about-founder-inner .about-founder-director .about-founder-director-img .about-founder-name h5 {
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;

  color: var(--color-text-primary);
  margin-bottom: 6px;
}

.about-founder .about-founder-wrapper .about-founder-inner .about-founder-director .about-founder-director-img .about-founder-name span {
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;

  color: var(--color-text-primary);
}