/* ======= Grafixy Statistics Section ======= */
.grafixy-statistics {
  position: relative;
  padding-top: 6.375rem;
  padding-bottom: 6.375rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--color-bg-accent-1);
  background-repeat: no-repeat;
  background-size: cover;
}

.grafixy-statistics h2 {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-text-primary);
  margin-bottom: 1.5rem;
}

.grafixy-statistics p {
  color: var(--color-text-primary);
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
}

.grafixy-statistics a {
  display: inline-block;
  margin-top: 2.8rem;
}

/* ——— BR handling in h2 ——— */
@media (max-width: 488px) {
  .grafixy-statistics h2 br {
    display: none;
  }
}

@media (max-width: 991px) {
  .grafixy-statistics h2 br {
    display: unset;
  }
}

@media (max-width: 681px) {
  .grafixy-statistics h2 {
    font-size: 1.4rem;
    line-height: 1.3;
  }

  .grafixy-statistics h2 br {
    display: none;
  }
}

.grafixy-statistics .gr-counter {
  margin-top: 2.5rem;
}

.grafixy-statistics .gr-counter span {
  font-style: normal;
  font-weight: 700;
  line-height: 3.5rem;
  color: var(--color-text-primary);
}

.grafixy-statistics .gr-counter p {
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;
  color: var(--color-text-primary);
}

.grafixy-statistics .gr-counter .gr-counter-1 {
  display: flex;
  gap: 11rem;
}

.grafixy-statistics .gr-counter .gr-counter-1 .item-1 span,
.grafixy-statistics .gr-counter .gr-counter-1 .item-1 p {
  color: var(--color-accent-red);
}

.grafixy-statistics.about-page .gr-counter .gr-counter-1 .item-1 span,
.grafixy-statistics.about-page .gr-counter .gr-counter-1 .item-1 p {
  color: var(--color-accent-teal);
}

.grafixy-statistics .gr-counter .gr-counter-1 .item-2 {
  margin-top: 1rem;
}

/* ——— Counter 2 ——— */
.grafixy-statistics .gr-counter .gr-counter-2 {
  display: flex;
  margin-top: 82px;
  gap: 11.5rem;
}

.grafixy-statistics .gr-counter .gr-counter-2 .item-3 {
  margin-right: -82px;
}

/* ——— Responsive adjustments ——— */
@media (max-width: 991px) {
  .grafixy-statistics .gr-counter {
    margin-top: 2.5rem;
  }

  .grafixy-statistics .gr-counter .gr-counter-2 .item-3 {
    margin-right: 0;
  }
}

@media (max-width: 565px) {

  .grafixy-statistics .gr-counter .gr-counter-1,
  .grafixy-statistics .gr-counter .gr-counter-2 {
    display: block;
  }

  .grafixy-statistics .gr-counter .gr-counter-1 .item-2 {
    margin-top: 1.5rem;
  }

  .grafixy-statistics .gr-counter .gr-counter-2 {
    margin-top: 1.5rem;
  }

  .grafixy-statistics .gr-counter .gr-counter-2 .item-3 {
    margin-bottom: 1.5rem;
    margin-right: 0;
  }
}