.values-area {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 991px) {
  .values-area {
    padding-top: 4.25rem;
    padding-bottom: 4.25rem;
  }
}

.values-area .title {
  text-align: right;
}

@media (max-width: 991px) {
  .values-area .title {
    text-align: center;
  }
}

.values-area .title p {
  color: var(--color-accent-red);
}

.values-area .title h3 span {
  color: var(--color-brand-primary);
  position: unset;
}

@media (max-width: 998px) {
  .values-area .title h3 br {
    display: none;
  }
}

.values-area .values-banner {
  overflow: hidden;
  max-width: 480px;
}

@media (max-width: 991px) {
  .values-area .values-banner img {
    margin: auto;
  }
}

.values-area .values-inner {
  margin-top: 4.25rem;
}

.values-area .values-inner .values-item {
  display: flex;
  align-items: start;
  gap: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 991px) {
  .values-area .values-inner .values-item {
    justify-content: center;
  }
}

@media (max-width: 452px) {
  .values-area .values-inner .values-item {
    gap: 1rem;
  }
}

.values-area .values-inner .values-item:last-child {
  margin-bottom: 0;
}

.values-area .values-inner .values-item:first-child span {
  background-color: var(--color-accent-red);
}

.values-area .values-inner .values-item h5 {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-text-primary);
}

.values-area .values-inner .values-item p {
  color: var(--color-text-primary);
  margin-top: 0.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
}

@media (max-width: 500px) {
  .values-area .values-inner .values-item p br {
    display: none;
  }
}

.values-area .values-inner .values-item span {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--color-text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}