<section class="related-posts section-padding bg-dark-2 related-section">
   <div class="container">
      <div class="title mb-5 related-section-title">
         <h3 class="font-size-1-35">مقالات ذات صلة</h3>
      </div>
      
      <div class="row g-4" id="related-posts-container">
         <div class="col-12 text-center">
            <div class="spinner-border text-light" role="status">
               <span class="visually-hidden">Loading...</span>
            </div>
         </div>
      </div>
   </div>
</section>
