  <!-- Start 404 Area  -->
  <section class="error-area">
    <img src="/assets/images/static/bg-blur-shep-3.png" alt="VRE" class="error-area-shep-1 blur-1">
    <img src="/assets/images/static/bg-blur-shep-3.png" alt="VRE" class="error-area-shep-2 blur-1">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-xl-6 col-lg-6 col-md-6">
          <div class="error-pic vre-reveal-one">
            <img src="/assets/images/error-p/error-404.png" alt="VRE" class="vre-reveal-image-one">
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6">
            
          <div class="error-wrapper">
            <h4 class="font-size-1-30 split-collab">خطأ 404 - الصفحة غير موجودة</h4>
            <p class="font-size-1-18">عذراً، الصفحة التي تبحث عنها لم يتم العثور عليها. ربما تم نقلها أو حذفها،
              <br>
              أو أن الرابط الذي اتبعته غير صحيح.
            </p>

            <div class="error-back-home-btn txt-center">
              <a href="/ar/" class="btn-1"><svg width="24" height="24" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg" fill="none">
                  <path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2"
                    d="M20 19v-8.5a1 1 0 0 0-.4-.8l-7-5.25a1 1 0 0 0-1.2 0l-7 5.25a1 1 0 0 0-.4.8V19a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1" />
                </svg>
                العودة إلى الصفحة الرئيسية</a>
            </div>
          </div>

        </div>

      </div>

    </div>
  </section>
  <!-- End 404 Area -->
