  <!-- Start Team Area  About inner-->
  <section class="team-area-about-inner single">
    <img src="/assets/images/static/bg-blur-shep-1.png" alt="VRE" class="about-page-team-area-shep-1 blur-1">
    <div class="container">
      <div class="about-page-team team-area">
        <div class="row justify-content-center">
          <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
            <div class="team-inner">
              <div class="team-thumb">
                <img src="/assets/images/team/ceo-image.webp" alt="VRE">
                <div class="team-social-media">
                  <ul>
                    <li><a href="#"><i class="ri-facebook-circle-fill"></i></a></li>
                    <li><a href="#"><i class="ri-twitter-x-fill"></i></a></li>
                    <li><a href="#"><i class="ri-linkedin-fill"></i></a></li>
                    <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-name-position">
                <h6 class="font-size-1-22"><a href="team/team-details.html">مصطفى بن شعبان</a></h6>
                <span class="font-size-1-16">المؤسس والمسير</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
            <div class="team-inner">
              <div class="team-thumb">
                <img src="/assets/images/team/team-2.webp" alt="VRE">
                <div class="team-social-media">
                  <ul>
                    <li><a href="#"><i class="ri-facebook-circle-fill"></i></a></li>
                    <li><a href="#"><i class="ri-twitter-x-fill"></i></a></li>
                    <li><a href="#"><i class="ri-linkedin-fill"></i></a></li>
                    <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-name-position">
                <h6 class="font-size-1-22"><a href="team/team-details.html">David George</a></h6>
                <span class="font-size-1-16">Senior Manager</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
            <div class="team-inner">
              <div class="team-thumb">
                <img src="/assets/images/team/team-3.webp" alt="VRE">
                <div class="team-social-media">
                  <ul>
                    <li><a href="#"><i class="ri-facebook-circle-fill"></i></a></li>
                    <li><a href="#"><i class="ri-twitter-x-fill"></i></a></li>
                    <li><a href="#"><i class="ri-linkedin-fill"></i></a></li>
                    <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-name-position">
                <h6 class="font-size-1-22"><a href="team/team-details.html">Matthew</a></h6>
                <span class="font-size-1-16">IT Support Specialist</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- End Team Area About inner -->