<!-- Start Bread Crumb Area Home 1 -->
<section class="breadcrumb">
  <div class="container">
    <div class="breadcrumb-title">
      <h1 class="split-collab" id="breadcrumb-page-title">تواصل معنا</h1>
    </div>
    <div class="breadcrumb-wrapper">
      <a href="/ar/">الرئيسية</a>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
          <path
            d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z">
          </path>
        </svg>
      </span>
      <a href="#" class="current-page" id="breadcrumb-current-link">تواصل معنا</a>
    </div>
  </div>
</section>
<!-- End Bread Crumb Area Home 1 -->