  <!-- Start Footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="footer-wrapper">
        <div class="row justify-content-between">
          <div class="col-xl-3 offset-xl-1 col-lg-4 col-md-12 col-sm-12">
            <div class="footer-menu footer-item-1">
              <a href="/ar/">
                <img src="/assets/images/logo/graphixy-ar-logo.svg" alt="شعار جرافكسي">
              </a>
              <p class="font-size-1-16">
                نحول علامتك التجارية إلى قصة بصرية لا تُنسى. تصميم هوية،
                مواقع، وتسويق مرئي بجودة عالية وتسليم دقيق.
              </p>
              <span class="font-size-1-14">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M11 17.938A8.001 8.001 0 0 1 12 2a8 8 0 0 1 1 15.938v2.074c3.946.092 7 .723 7 1.488 0 .828-3.582 1.5-8 1.5s-8-.672-8-1.5c0-.765 3.054-1.396 7-1.488zM12 12a2 2 0 1 0 0-4 2 2 0 0 0 0 4"
                    fill="var(--brand-accent-1)" />
                </svg>
                ميلة، الجزائر 43005
              </span>
              <span class="font-size-1-14">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="currentColor">
                  <path
                    d="m20.713 8.128-.246.566a.506.506 0 0 1-.934 0l-.246-.566a4.36 4.36 0 0 0-2.22-2.25l-.759-.339a.53.53 0 0 1 0-.963l.717-.319a4.37 4.37 0 0 0 2.251-2.326l.253-.611a.506.506 0 0 1 .942 0l.253.61a4.37 4.37 0 0 0 2.25 2.327l.718.32a.53.53 0 0 1 0 .962l-.76.338a4.36 4.36 0 0 0-2.219 2.251M20 11a6 6 0 0 0 1.993-.339q.007.17.007.339a8 8 0 0 1-8 8v3.5c-5-2-12-5-12-11.5a8 8 0 0 1 8-8h4q.17 0 .339.007A6 6 0 0 0 20 11" />
                </svg>
                hello@graphixy.ru
              </span>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
            <div class="footer-menu footer-menu-2">
              <h6 class="font-size-1-22">عن جرافيكسي</h6>
              <ul>
                <li><a href="/ar/pages/about.html">من نحن</a></li>
                <li><a href="/ar/pages/faq.html">الأسئلة الشائعة</a></li>
                <li><a href="/ar/projects/">معرض الأعمال</a></li>
                <li><a href="/ar/blog/">المدونة</a></li>
                <li><a href="/ar/pages/contact.html">تواصل معنا</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
            <div class="footer-menu footer-menu-1">
              <h6 class="font-size-1-22">أبرز الخدمات</h6>
              <ul>
                <li><a href="/ar/services/branding.html">بناء العلامات</a></li>
                <li>
                  <a href="/ar/services/graphic-design.html">التصميم الجرافيكي</a>
                </li>
                <li>
                  <a href="/ar/services/video-et-motion.html">الفيديو والموشن</a>
                </li>
                <li>
                  <a href="/ar/services/advertising.html">التسويق والإعلان</a>
                </li>
                <li>
                  <a href="/ar/services/consulting.html">الاستشارات والتدريب</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">

            <div class="footer-menu">
              <h6 class="font-size-1-22">تابعنا عبر</h6>
              <p>
                نحن متواجدون في مختلف منصات التواصل الاجتماعي
              </p>

              <div class="social-buttons">
                <a href="https://facebook.com/graphixyagency" class="social-buttons__button social-button social-button--facebook" aria-label="Facebook">
                  <span class="social-button__inner">
                    <i class="ri-facebook-fill"></i>
                  </span>
                </a>

                <a href="https://linkedin.com/company/graphixyagency" class="social-buttons__button social-button social-button--linkedin" aria-label="LinkedIn">
                  <span class="social-button__inner">
                    <i class="ri-linkedin-fill"></i>
                  </span>
                </a>

                <a href="https://instagram.com/graphixy.agency" class="social-buttons__button social-button social-button--instagram"
                  aria-label="Instagram">
                  <span class="social-button__inner">
                    <i class="ri-instagram-line"></i>
                  </span>
                </a>

                <a href="https://x.com/graphixy.agency" class="social-buttons__button social-button social-button--twitter" aria-label="Twitter">
                  <span class="social-button__inner">
                    <i class="ri-twitter-x-line"></i>
                  </span>
                </a>

                <a href="https://youtube.com/@graphixy.agency" class="social-buttons__button social-button social-button--youtube" aria-label="YouTube">
                  <span class="social-button__inner">
                    <i class="ri-youtube-fill"></i>
                  </span>
                </a>

                <a href="https://tiktok.com/@graphixyagency" class="social-buttons__button social-button social-button--tiktok" aria-label="TikTok">
                  <span class="social-button__inner">
                    <i class="ri-tiktok-fill"></i>
                  </span>
                </a>


                <a href="https://behance.net/graphixy.agency" class="social-buttons__button social-button social-button--behance" aria-label="Behance">
                  <span class="social-button__inner">
                    <i class="ri-behance-fill"></i>
                  </span>
                </a>


                <a href="https://t.me/@GraphixyAgency" class="social-buttons__button social-button social-button--telegram" aria-label="Telegram">
                  <span class="social-button__inner">
                    <i class="ri-telegram-fill"></i>
                  </span>
                </a>




              </div>

            </div>

          </div>
        </div>
      </div>
<div class="copyright">
  <div class="copyright-content">
    <div class="copyright-text">
      <p class="font-size-1-14">
        © 2025 - <a href="/ar/">وكالة جرافيكسي</a> - جميع الحقوق محفوظة.
      </p>
    </div>
    
    <div class="copyright-links">
      <a href="/ar/pages/terms-and-conditions.html" class="font-size-1-14">
        شروط الاستخدام
      </a>
      <span class="separator font-size-1-14">|</span>
      <a href="/ar/pages/privacy-policy.html" class="font-size-1-14">
        سياسة الخصوصية
      </a>
      <span class="separator font-size-1-14">|</span>
      <a href="/ar/pages/nda.html" class="font-size-1-14">
       اتفاقية عدم الافصاح</a>
    </div>
  </div>
</div>
    </div>
  </footer>
  <!-- End Footer -->
