<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Primary Meta Tags -->
  <title>جرافكسي - وكالة رقمية للتصميم والتسويق الالكتروني</title>
  <meta name="description" content="META-DESCRIPTION">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://graphixy.agency/ar/PAGE-NAME.html">
  <meta property="og:title" content="جرافكسي - وكالة رقمية للتصميم والتسويق الالكتروني">
  <meta property="og:description" content="O-GRAPH-DESCRIPTION">
  <meta property="og:image" content="../assets/images/o-graph/PAGE-NAME.webp">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://graphixy.agency/ar/PAGE-NAME.html">
  <meta property="twitter:title" content="جرافكسي - وكالة رقمية للتصميم والتسويق الالكتروني">
  <meta property="twitter:description" content="TWITTER-X-DESCRIPTION">
  <meta property="twitter:image" content="../assets/images/o-graph/PAGE-NAME.webp">

  <!-- Canonical URL -->
  <link rel="canonical" href="https://graphixy.agency/ar/PAGE-NAME.html">

  <!-- Alternate Links -->
  <link rel="alternate" hreflang="ar" href="https://graphixy.agency/ar/PAGE-NAME.html">
  <link rel="alternate" hreflang="en" href="https://graphixy.agency/en/PAGE-NAME.html">
  <link rel="alternate" hreflang="fr" href="https://graphixy.agency/fr/PAGE-NAME.html">
  <link rel="alternate" hreflang="x-default" href="https://graphixy.agency/en/PAGE-NAME.html">

  <!-- Essential fonts -->
  <link rel="preload" href="/assets/fonts/readex-pro.woff2" as="font" type="font/woff2" crossorigin>
  <link href="/assets/fonts/remixicon.woff2" as="font" type="font/woff2" crossorigin>

  <!-- Essential CSS -->

  <link rel="stylesheet" href="/assets/css/remixicon.min.css">

  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/swiper.min.css">
  <link rel="stylesheet" href="/assets/css/glightbox.min.css">
  <link rel="stylesheet" href="/assets/css/plyr.min.css">
  <link rel="stylesheet" href="/assets/css/main.css">

  <!-- Favicon -->
  <link rel="icon" href="/assets/images/favicon.png" type="image/png">
</head>
