  
  <!-- Start COPYWRITING Services Area -->
  <section class="services-grid st_box_jump_animation section-padding">
    <img src="/assets/images/static/bg-blur-shep-1.png" alt="VRE" class="offer-area-1-shep-1 blur-1">
    <div class="container">
            <div class="services-grid-title">
        <h2 class="font-size-1-50  split-collab">خدمات الكتابة التسويقية والابداعية</h2>

        <div class="vre-slide-up-gsap">
          <a href="graphic-design.html" class="btn-1 font-size-1-18">اكتشفها الآن</a>
        </div>
      </div>
      <div class="services-grid-wrapper">

        <div class="row justify-content-center">
          <!-- الخدمة - 1 -->
          <div class="col-xl-4 col-lg-4 col-md-6 col-12 st_box_animation">
            <div class="card-inner st_box_anim">
              <div class="services-card">
                <h3 class="font-size-1-20"> الكتابة الإبداعية </h3>
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 23" fill="none">
                    <rect width="10.9206" height="10.9206" rx="1.4512"
                      transform="matrix(0.866025 0.5 -0.866025 0.5 12.4001 9.70361)" fill="var(--brand-primary)">
                    </rect>
                    <rect width="10.9206" height="10.9206" rx="1.4512"
                      transform="matrix(0.866025 0.5 -0.866025 0.5 12.4001 6.03894)" fill="var(--brand-accent-1)">
                    </rect>
                    <rect width="10.9206" height="10.9206" rx="1.4512"
                      transform="matrix(0.866025 0.5 -0.866025 0.5 12.4001 2.37439)" fill="var(--brand-secondary)">
                    </rect>
                  </svg>
                </span>
              </div>

              <p class="font-size-1-18 justify-text">
               نصنع الكلمات التي تبيع. نكتب*نصوصاً إعلانية** مقنعة، ومحتوى سوشيال ميديا جاذباً، وأوصاف منتجات مُحسّنة لزيادة المبيعات.
              </p>
            </div>
          </div>

          <!-- الخدمة 2 -->
          <div class="col-xl-4 col-lg-4 col-md-6 col-12 st_box_animation">
            <div class="card-inner st_box_anim">
              <div class="services-card">
                <h3 class="font-size-1-20"> الترجمة </h3>
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 23" fill="none">
                    <rect width="10.9206" height="10.9206" rx="1.4512"
                      transform="matrix(0.866025 0.5 -0.866025 0.5 12.4001 9.70361)" fill="var(--brand-primary)">
                    </rect>
                    <rect width="10.9206" height="10.9206" rx="1.4512"
                      transform="matrix(0.866025 0.5 -0.866025 0.5 12.4001 6.03894)" fill="var(--brand-accent-1)">
                    </rect>
                    <rect width="10.9206" height="10.9206" rx="1.4512"
                      transform="matrix(0.866025 0.5 -0.866025 0.5 12.4001 2.37439)" fill="var(--brand-secondary)">
                    </rect>
                  </svg>
                </span>
              </div>

              <p class="font-size-1-18 justify-text">
               نزيل الحواجز اللغوية لمحتواك. نقدم ترجمة احترافية بين العربية والإنجليزية والفرنسية، بالإضافة إلى تعريب المواقع (Localization).
              </p>
            </div>
          </div>

          <!-- الخدمة - 3 -->
          <div class="col-xl-4 col-lg-4 col-md-6 col-12 st_box_animation">
            <div class="card-inner st_box_anim">
              <div class="services-card">
                <h3 class="font-size-1-20"> السير الذاتية </h3>
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 23" fill="none">
                    <rect width="10.9206" height="10.9206" rx="1.4512"
                      transform="matrix(0.866025 0.5 -0.866025 0.5 12.4001 9.70361)" fill="var(--brand-primary)">
                    </rect>
                    <rect width="10.9206" height="10.9206" rx="1.4512"
                      transform="matrix(0.866025 0.5 -0.866025 0.5 12.4001 6.03894)" fill="var(--brand-accent-1)">
                    </rect>
                    <rect width="10.9206" height="10.9206" rx="1.4512"
                      transform="matrix(0.866025 0.5 -0.866025 0.5 12.4001 2.37439)" fill="var(--brand-secondary)">
                    </rect>
                  </svg>
                </span>
              </div>

              <p class="font-size-1-18 justify-text">
       نساعدك على الظهور المهني. نصمم ونكتب سيرتك الذاتية (CV). ونعد خطابات تحفيزية، وملفات تعريفية شخصية احترافية.
              </p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>
