  <!-- Start Graphic Design Services -->
  <section class="services-grid st_box_jump_animation">
    <img src="/assets/images/static/bg-blur-shep-1.png" alt="VRE" class="offer-area-1-shep-1 blur-1">
    <div class="container">

      <div class="services-grid-title">
        <h2 class="font-size-1-50  split-collab">خدمات التصميم الجرافيكي</h2>

        <div class="vre-slide-up-gsap">
          <a href="services/graphic-design.html" class="btn-1 font-size-1-18">اكتشفها الآن</a>
        </div>
      </div>
      <div class="services-grid-wrapper">
        <div class="row justify-content-center">
          <div class="col-xl-3 col-lg-3 col-md-4 st_box_animation">
            <div class="card-inner st_box_anim">
              <div class="services-card">
                <h3 class="font-size-1-20"> العلامات التجارية </h3>
                <a href="services-details.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="var(--brand-accent-1)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                    class="circle-arrow-out-up-left-icon">
                    <path d="M2 8V2h6M2 2l10 10m0-10A10 10 0 1 1 2 12" />
                  </svg>

                </a>
              </div>
              <img src="/assets/images/icons/services/branding.svg" alt="Branding Icon" class="why-us-icon-image">


              <p class="font-size-1-16 justify-text">
                نطوّر هوية متكاملة تعكس شخصية علامتك وتبني ثقة طويلة المدى، من الشعار إلى الدليل البصري والقصة
                التجارية.
              </p>
            </div>
          </div>


          <div class="col-xl-3 col-lg-3 col-md-4 st_box_animation">
            <div class="card-inner st_box_anim">
              <div class="services-card">
                <h3 class="font-size-1-20"> الهوية المؤسسية </h3>
                <a href="services-details.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="var(--brand-accent-1)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                    class="circle-arrow-out-up-left-icon">
                    <path d="M2 8V2h6M2 2l10 10m0-10A10 10 0 1 1 2 12" />
                  </svg>
                </a>
              </div>

              <img src="/assets/images/icons/services/corporate-identity.svg" alt="Corporate Identity Icon"
                class="why-us-icon-image">




              <p class="font-size-1-16 justify-text">
                نجهز المظهر الرسمي لشركتك. نصمم بروفايل احترافي، وأوراق مراسلات، وأختاماً، لضمان أعلى مستويات
                الاحترافية
                والاتساق.
              </p>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-4 st_box_animation">
            <div class="card-inner st_box_anim">
              <div class="services-card">
                <h3 class="font-size-1-20"> المطبوعات </h3>
                <a href="services-details.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="var(--brand-accent-1)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                    class="circle-arrow-out-up-left-icon">
                    <path d="M2 8V2h6M2 2l10 10m0-10A10 10 0 1 1 2 12" />
                  </svg>
                </a>
              </div>

              <img src="/assets/images/icons/services/prints.svg" alt="Prints Icon" class="why-us-icon-image">




              <p class="font-size-1-16 justify-text">
                نحول رسالتك إلى مواد ملموسة. نصمم بروشورات وفلايرات فعّالة، رول أب للمعارض، ...الخ.


              </p>
            </div>
          </div>


          <div class="col-xl-3 col-lg-3 col-md-4 st_box_animation">
            <div class="card-inner st_box_anim">
              <div class="services-card">
                <h3 class="font-size-1-20"> سوشل ميديا </h3>
                <a href="services-details.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="var(--brand-accent-1)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                    class="circle-arrow-out-up-left-icon">
                    <path d="M2 8V2h6M2 2l10 10m0-10A10 10 0 1 1 2 12" />
                  </svg>
                </a>
              </div>

              <img src="/assets/images/icons/services/social-media.svg" alt="Social Media Icon"
                class="why-us-icon-image">




              <p class="font-size-1-16 justify-text">
                نضمن حضورك البصري القوي على المنصات. نصمم منشورات احترافية، أغلفة قنوات، وصور مصغرة محسّنة لزيادة
                التفاعل.
              </p>
            </div>
          </div>


          <div class="col-xl-3 col-lg-3 col-md-4 st_box_animation">
            <div class="card-inner st_box_anim">
              <div class="services-card">
                <h3 class="font-size-1-20"> تعديل الصور </h3>
                <a href="services-details.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="var(--brand-accent-1)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                    class="circle-arrow-out-up-left-icon">
                    <path d="M2 8V2h6M2 2l10 10m0-10A10 10 0 1 1 2 12" />
                  </svg>
                </a>
              </div>

              <img src="/assets/images/icons/services/imagefx.svg" alt="Image Editing Icon" class="why-us-icon-image">




              <p class="font-size-1-16 justify-text">
                نحوّل صورك العادية إلى أصول احترافية. نزيل الخلفيات، نحسّن صور المنتجات، ونستخدم الذكاء الاصطناعي
                لتكبير
                الجودة وترميم القديم.


              </p>
            </div>
          </div>


          <div class="col-xl-3 col-lg-3 col-md-4 st_box_animation">
            <div class="card-inner st_box_anim">
              <div class="services-card">
                <h3 class="font-size-1-20"> تنسيق الكتب </h3>
                <a href="services-details.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="var(--brand-accent-1)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                    class="circle-arrow-out-up-left-icon">
                    <path d="M2 8V2h6M2 2l10 10m0-10A10 10 0 1 1 2 12" />
                  </svg>
                </a>
              </div>
              <img src="/assets/images/icons/services/publishing.svg" alt="Book Formatting Icon"
                class="why-us-icon-image">
              <p class="font-size-1-16 justify-text">
                نجهز المظهر الرسمي لشركتك. نصمم بروفايل احترافي، وأوراق مراسلات، وأختاماً، لضمان أعلى مستويات
                الاحترافية
                والاتساق.
              </p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 st_box_animation">
            <div class="card-inner st_box_anim">
              <div class="services-card">
                <h3 class="font-size-1-20"> العروض التقديمية </h3>
                <a href="services-details.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="var(--brand-accent-1)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                    class="circle-arrow-out-up-left-icon">
                    <path d="M2 8V2h6M2 2l10 10m0-10A10 10 0 1 1 2 12" />
                  </svg>
                </a>
              </div>

              <img src="/assets/images/icons/services/diapo.svg" alt="Presentation Icon" class="why-us-icon-image">




              <p class="font-size-1-16 justify-text">
                نحوّل أفكارك إلى عروض مقنعة ومؤثرة. نصمم عروض PowerPoint/Google Slides احترافية، ونساعد في بناء محتوى
                الـ Pitch Deck للشركات الناشئة.

              </p>
            </div>
          </div>


          <div class="col-xl-3 col-lg-3 col-md-4 st_box_animation">
            <div class="card-inner st_box_anim">
              <div class="services-card">
                <h3 class="font-size-1-20"> تغليف المنتجات </h3>
                <a href="services-details.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="var(--brand-accent-1)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                    class="circle-arrow-out-up-left-icon">
                    <path d="M2 8V2h6M2 2l10 10m0-10A10 10 0 1 1 2 12" />
                  </svg>
                </a>
              </div>

              <img src="/assets/images/icons/services/packaging.svg" alt="Packaging Icon" class="why-us-icon-image">




              <p class="font-size-1-16 justify-text">
                التغليف هو البائع الصامت لمنتجك. نصمم علب ومنتجات جذابة، ليبلات احترافية، وأكياس تسوق تعزز هوية علامتك
                التجارية.
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="two-btns-row font-size-1-20">
        <a href="/ar/services/" class="btn-s1 split-collab">

          اكتشف خدماتنا بالتفصيل
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-circle-plus-icon lucide-circle-plus">
            <circle cx="12" cy="12" r="10" />
            <path d="M8 12h8" />
            <path d="M12 8v8" />
          </svg>

        </a>
        <a href="/ar/pages/contact.html" class="btn-s2 split-collab">

          احصل على استشارة
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-corner-left-up-icon lucide-corner-left-up">
            <path d="M14 9 9 4 4 9" />
            <path d="M20 20h-7a4 4 0 0 1-4-4V4" />
          </svg>
        </a>
      </div>
    </div>
  </section>

  <!-- End Graphic Design Services-->
