  <!-- Start Graphixy Services list home -->
  <section id="our-services" class="services-grid-section">
    <div class="container">
      <div class="services-list-wrapper">
        <div class="row">


          <div class="col-xl-2 col-lg-2 col-md-3 col-6 px-0">
            <div class="services-list-inner"><span class="services-grid-icon"> <img
                  src="/assets/images/icons/services/branding.svg" alt="Icon"> </span>
              <h5 class="font-size-1-16">الهويات التجارية</h5>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-3 col-6 px-0">
            <div class="services-list-inner"><span class="services-grid-icon"> <img
                  src="/assets/images/icons/services/branding.svg" alt="Icon"> </span>
              <h5 class="font-size-1-16"> التصميم الجرافيكي </h5>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-3 col-6 px-0">
            <div class="services-list-inner"><span class="services-grid-icon"> <img
                  src="/assets/images/icons/services/branding.svg" alt="Icon"> </span>
              <h5 class="font-size-1-16"> المطبوعات وتنسيق الكتب </h5>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-3 col-6 px-0">
            <div class="services-list-inner"><span class="services-grid-icon"> <img
                  src="/assets/images/icons/services/branding.svg" alt="Icon"> </span>
              <h5 class="font-size-1-16"> السوشل ميديا </h5>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-3 col-6 px-0">
            <div class="services-list-inner"><span class="services-grid-icon"> <img
                  src="/assets/images/icons/services/branding.svg" alt="Icon"> </span>
              <h5 class="font-size-1-16"> التصاميم الإعلانية</h5>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-3 col-6 px-0">
            <div class="services-list-inner"><span class="services-grid-icon"> <img
                  src="/assets/images/icons/services/branding.svg" alt="Icon"> </span>
              <h5 class="font-size-1-16"> تعديل الصور </h5>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-3 col-6 px-0">
            <div class="services-list-inner"><span class="services-grid-icon"> <img
                  src="/assets/images/icons/services/branding.svg" alt="Icon"> </span>
              <h5 class="font-size-1-16"> تغليف المنتجات </h5>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-3 col-6 px-0">
            <div class="services-list-inner"><span class="services-grid-icon"> <img
                  src="/assets/images/icons/services/branding.svg" alt="Icon"> </span>
              <h5 class="font-size-1-16"> مونتاج الفيديو </h5>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-3 col-6 px-0">
            <div class="services-list-inner"><span class="services-grid-icon"> <img
                  src="/assets/images/icons/services/branding.svg" alt="Icon"> </span>
              <h5 class="font-size-1-16"> الموشن جرافيك </h5>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-3 col-6 px-0">
            <div class="services-list-inner"><span class="services-grid-icon"> <img
                  src="/assets/images/icons/services/branding.svg" alt="Icon"> </span>
              <h5 class="font-size-1-16"> الفيديو الإسلامي </h5>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-3 col-6 px-0">
            <div class="services-list-inner"><span class="services-grid-icon"> <img
                  src="/assets/images/icons/services/branding.svg" alt="Icon"> </span>
              <h5 class="font-size-1-16"> التعليق الصوتي </h5>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-3 col-6 px-0">
            <div class="services-list-inner"><span class="services-grid-icon"> <img
                  src="/assets/images/icons/services/branding.svg" alt="Icon"> </span>
              <h5 class="font-size-1-16"> تطوير المواقع </h5>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-3 col-6 px-0">
            <div class="services-list-inner"><span class="services-grid-icon"> <img
                  src="/assets/images/icons/services/branding.svg" alt="Icon"> </span>
              <h5 class="font-size-1-16">تصميم المتاجر</h5>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-3 col-6 px-0">
            <div class="services-list-inner"><span class="services-grid-icon"> <img
                  src="/assets/images/icons/services/branding.svg" alt="Icon"> </span>
              <h5 class="font-size-1-16"> مواقع No-Code </h5>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-3 col-6 px-0">
            <div class="services-list-inner"><span class="services-grid-icon"> <img
                  src="/assets/images/icons/services/branding.svg" alt="Icon"> </span>
              <h5 class="font-size-1-16"> العروض التقديمية </h5>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-3 col-6 px-0">
            <div class="services-list-inner"><span class="services-grid-icon"> <img
                  src="/assets/images/icons/services/branding.svg" alt="Icon"> </span>
              <h5 class="font-size-1-16"> الكتابة والترجمة </h5>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-3 col-6 px-0">
            <div class="services-list-inner"><span class="services-grid-icon"> <img
                  src="/assets/images/icons/services/branding.svg" alt="Icon"> </span>
              <h5 class="font-size-1-16"> السير الذاتية </h5>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-3 col-6 px-0">
            <div class="services-list-inner"><span class="services-grid-icon"> <img
                  src="/assets/images/icons/services/branding.svg" alt="Icon"> </span>
              <h5 class="font-size-1-16"> تحسين الـ SEO </h5>
            </div>
          </div>


          

        </div>
        <div class="row">
          <div class="two-btns-row font-size-1-20 split-collab">
            <a href="/ar/services/" class="btn-s3">

              اكتشف خدماتنا بالتفصيل

              <i class="ri-arrow-left-s-fill"></i>
            </a>
            <a href="/ar/pages/contact.html" class="btn-s4">


              احصل على استشارة
              <i class="ri-arrow-left-up-box-fill"></i>
            </a>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- End Graphixy Services list home -->
