  <!-- Start Video Services -->
  <section class="video-services">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-xl-6 col-lg-5">
          <div class="video-ser-banner vre-reveal-one">
            <img src="/assets/images/services/video-services-banner.webp" alt="VRE" class="vre-reveal-image-one">
          </div>
        </div>
        <div class="col-xl-5 col-lg-6">
          <div class="video-ser-wrapper">
            <div class="title">
              <div class="main-title">
                <h2 class="split-collab">
                  خدمات مونتاج الفيديو<br>
                  والموشن جرافيك
                </h2>
              </div>
            </div>
            <div class="video-ser-inner">
              <div class="video-ser-item vre-slide-up-gsap">
                <div class="video-ser-icon">
                  <span><img src="/assets/images/icons/services/videditing.svg" alt="Video Editing Icon">
                  </span>
                </div>
                <div class="video-ser-text">


                  <div class="video-ser-title">
                    <h5 class="font-size-1-24">مونتاج الفيديو</h5>

                    <div class="servi-link">
                      <a href="/ar/services/" class="serv-detai-btn font-size-1-18 transition-1">
                        المزيد

                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                          stroke="var(--brand-accent-2)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                          class="circle-arrow-out-up-left-icon">
                          <path d="M2 8V2h6M2 2l10 10m0-10A10 10 0 1 1 2 12" />
                        </svg>
                      </a>
                    </div>
                  </div>

                  <p class="font-size-1-18">
                    نحول اللقطات الخام إلى قصص مرئية. نقدم مونتاج للريلز القصير، وفيديوهات
                    يوتيوب احترافية، ومونتاج إعلاني مؤثر لتحقيق أهدافك.
                  </p>
                </div>
              </div>
              <div class="video-ser-item vre-slide-up-gsap">
                <div class="video-ser-icon">
                  <span>
                    <img src="/assets/images/icons/services/motiongraphics.svg" alt="Motion Graphics Icon">
                  </span>
                </div>
                <div class="video-ser-text">
                  <div class="video-ser-title">
                    <h5 class="font-size-1-24">الموشن جرافيك</h5>

                    <div class="servi-link">
                      <a href="/ar/services/" class="serv-detai-btn font-size-1-18 transition-1">المزيد
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                          stroke="var(--brand-accent-2)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                          class="circle-arrow-out-up-left-icon">
                          <path d="M2 8V2h6M2 2l10 10m0-10A10 10 0 1 1 2 12" />
                        </svg>
                      </a>
                    </div>
                  </div>


                  <p class="font-size-1-18 justify-text">
                    نستخدم الحركة لشرح رسالتك بفعالية. ننتج فيديوهات موشن 2D و 3D عالية الجودة،
                    ونحرك الشعارات والدعوات بشكل مبتكر.
                  </p>
                </div>
              </div>
              <div class="video-ser-item vre-slide-up-gsap">
                <div class="video-ser-icon">
                  <span>
                    <img src="/assets/images/icons/services/voiceover.svg" alt="Voice Over Icon">
                  </span>
                </div>
                <div class="video-ser-text">
                  <div class="video-ser-title">
                    <h5 class="font-size-1-24">التعليق الصوتي</h5>

                    <div class="servi-link">
                      <a href="/ar/services/" class="serv-detai-btn font-size-1-18 transition-1">
                        المزيد
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                          stroke="var(--brand-accent-2)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                          class="circle-arrow-out-up-left-icon">
                          <path d="M2 8V2h6M2 2l10 10m0-10A10 10 0 1 1 2 12" />
                        </svg>
                      </a>
                    </div>
                  </div>


                  <p class="font-size-1-18 justify-text">
                    نضمن جودة صوت لا تشوبها شائبة. نوفر تعليق صوتي بشري وبتقنية الذكاء
                    الاصطناعي، وهندسة صوت لتحسين نقاء الملفات.
                  </p>
                </div>
              </div>
              <div class="video-ser-item vre-slide-up-gsap">
                <div class="video-ser-icon">
                  <span>
                    <img src="/assets/images/icons/services/religiousvideo.svg" alt="Religious Video Icon">
                  </span>
                </div>
                <div class="video-ser-text">


                  <div class="video-ser-title">
                    <h5 class="font-size-1-24">الفيديو الديني</h5>

                    <div class="servi-link">
                      <a href="/ar/services/" class="serv-detai-btn font-size-1-18 transition-1">
                        <span> المزيد </span>

                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                          stroke="var(--brand-accent-2)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                          class="circle-arrow-out-up-left-icon">
                          <path d="M2 8V2h6M2 2l10 10m0-10A10 10 0 1 1 2 12" />
                        </svg>
                      </a>
                    </div>
                  </div>

                  <p class="font-size-1-18 justify-text">
                    ننتج محتوى بصري إسلامي مؤثر. نصمم ونمنتج فيديوهات أدعية وقرآنية مع مؤثرات
                    وكتابة الآيات بشكل احترافي.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Video Services -->
