
  <!-- Start About Area Home 1 -->
  <section class="about-hero-main">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-5 col-lg-5">
          <div class="about-image"><img src="/assets/images/home/about-us.webp" alt="VRE"></div>
        </div>
        <div class="col-xl-7 col-lg-7">
          <div class="about-hero-main-inner">

            <div class="sub-title">
              <p>فلسفة العمل</p>
              <h2 class="font-size-1-40 split-collab">أكثر من مجرد وكالة.. نحن شركاء النجاح
              </h2>
              <p>شريك النجاح لأكثر من 150 عميل في الجزائر والسعودية</p>
            </div>

            <p class="about-us-details font-size-1-18 justify-text">
              عندما تتعامل مع جرافكسي، فأنت لا تختار مصممًا أو مسوّقًا عادياً، بل تختار شريكًا استراتيجيًا
              يغوص في أعماق مشروعك ليفهم جوهره وتحدياته الفريدة.
            </p>
            <P class="about-us-details font-size-1-18 justify-text">
              لهذا السبب، نجمع بين الإبداع البصري (Graphics)
              والنتائج القابلة للقياس (Results) لتقديم حلول
              متكاملة. حلولنا مبنية على فهم دقيق للسوق العربي مع الالتزام بأحدث المعايير العالمية، مما
              يمنح علامتك مزيجًا قويًا من الأصالة والتفوق الاحترافي.
            </P>
            <div class="two-btns-row font-size-1-20">
              <a href="/ar/pages/about.html" class="btn-s1 split-collab">

                اعرف قصتنا
                <i class="ri-megaphone-fill"></i>

              </a>
              <a href="/ar/pages/contact.html" class="btn-s2 split-collab">

                احصل على استشارة
                <i class="ri-arrow-left-up-box-fill"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Area Home 1 -->