    <!-- Start Digital Product Area Home 3 -->
    <section class="grafixy-statistics about-page">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 offset-xl-1 offset-lg-1">
                    <div class="gr-title">
                        <h2 class="font-size-1-50 split-collab">أرقام تحكي قصتنا
                        </h2>
                        <p class="font-size-1-16">
                            في جرافكسي، كل رقم يحمل قصة شغف، وكل إحصائية هي دليل<br> على ثقـــــة عمـــلائنا. هــــذه هي
                            بصمتنا، مُترجمة إلى أرقــــام.
                        </p><br>
                        <p class="font-size-1-16">
                            وراء كل رقم... قصة نجاح. اكتشف كيف نحوّل الأفكار إلى واقع.
                        </p>
                        <a href="/ar/case-studies/" class="btn-1">تصفّح قصص نجاحنا</a>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="gr-counter">
                        <div class="gr-counter-1">
                            <div class="item-1 vre-slide-down-gsap">
                                <span class="font-size-1-45">500+</span>
                                <p class="font-size-1-20">مشروع مكتمل</p>
                            </div>
                            <div class="item-2 vre-slide-up-gsap">
                                <span class="font-size-1-45">150+</span>
                                <p class="font-size-1-20">زبون سعيد بخدمتنا</p>
                            </div>
                        </div>
                        <div class="gr-counter-2">
                            <div class="item-3 vre-slide-up-gsap">
                                <span class="font-size-1-45">99%+</span>
                                <p class="font-size-1-20">نسبة ولاء العملاء</p>
                            </div>
                            <div class="item-4 vre-slide-down-gsap">
                                <span class="font-size-1-45">+5</span>
                                <p class="font-size-1-20">سنوات من الخبرة</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Digital Product Area Home 3 -->