    <!-- Start About Founder -->
    <section class="about-founder">
        <div class="container">
            <div class="about-founder-wrapper">
                <div class="row">

                    <div class="col-xl-7 col-lg-6 col-md-12">

                        <div class="about-founder-inner">
                    <div class="title">
                        <div class="sub-title txt-right">
                            <p>كلمة المؤسس</p>
                        </div>
                        <div class="main-title">
                            <h2 class="txt-rightsplit-collab"> من الشغف بالتصميم إلى بناء الأثر </h2>
                        </div>
                    </div>
                            <p class="font-size-1-18 vre-slide-up-gsap">

                                رحلتي مع عالم الإبداع لم تبدأ في العالم الرقمي، بل بين جدران كلية الهندسة المعمارية.
                                هناك، تعلمت أن التصميم ليس مجرد
                                خطوط وأشكال، بل هو القدرة على تحويل الفراغ إلى تجربة، والفكرة إلى هيكل له روح.
                                <br><br>

أسستُ جرافكسي لتكون الامتداد الطبيعي لهذا الشغف. رأيت حاجة ماسة في سوقنا لوكالة تفهم ثقافتنا العربية بعمق، وتطبق في الوقت نفسه أعلى المعايير العالمية.

                            </p>
                            <div class="about-founder-quets">
                                <p class="font-size-1-20 vre-slide-up-gsap">’’
العلامات التجارية لا تُبنى بالحظ، بل بفكرة قوية، وتنفيذ دقيق، وشغف لا يهدأ.
                                    ‘‘
                                </p>
                            </div>
                            <div class="about-founder-director">
                                <div class="about-founder-director-img vre-slide-up-gsap">
                                    <div class="about-founder-director-main-img">
                                        <img src="/assets/images/about/ceo-profile.png" alt="VRE">
                                    </div>
                                    <div class="about-founder-name">
                                        <h5 class="font-size-1-18">مصطفى بن شعبان</h5>
                                        <span class="font-size-1-16">
                                            مهندس معماري ومؤسس جرافكسي </span>
                                    </div>
                                </div>
                                <div class="about-founder-director-sing vre-slide-down-gsap">
                                    <img src="/assets/images/about/ByMusta.svg" alt="VRE">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-12">
                        <div class="about-founder-banner-img">
                            <img src="/assets/images/about/ceo-illust.png" alt="VRE">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Founder -->
