    <div class="marquee-strip-about">
        <div class="marque-group">
            <div class="marque-wrapper-1">
                <span>تطوير</span>
                <span>استوديو</span>
                <span>استراتيجية</span>
                <span>علامة تجارية</span>
                <span>وكالة تصميم وتسويق</span>
                <span>الخط</span>
                <span>تصميم</span>
                <span>تفاعل</span>
                <span>تطوير</span>
                <span>استوديو</span>
                <span>استراتيجية</span>
                <span>علامة تجارية</span>
                <span>وكالة تصميم وتسويق</span>
                <span>الخط</span>
                <span>تصميم</span>
                <span>تفاعل</span>
                <span>تطوير</span>
                <span>استوديو</span>
                <span>استراتيجية</span>
                <span>علامة تجارية</span>
                <span>وكالة تصميم وتسويق</span>
                <span>الخط</span>
                <span>تصميم</span>
                <span>تفاعل</span>
                <span>تطوير</span>
                <span>استوديو</span>
                <span>استراتيجية</span>
                <span>علامة تجارية</span>
                <span>وكالة تصميم وتسويق</span>
                <span>الخط</span>
                <span>تصميم</span>
                <span>تفاعل</span>
                <span>تطوير</span>
                <span>استوديو</span>
                <span>استراتيجية</span>
                <span>علامة تجارية</span>
                <span>وكالة تصميم وتسويق</span>
                <span>الخط</span>
                <span>تصميم</span>
                <span>تفاعل</span>
                <span>تطوير</span>
                <span>استوديو</span>
                <span>استراتيجية</span>
                <span>علامة تجارية</span>
                <span>وكالة تصميم وتسويق</span>
                <span>الخط</span>
                <span>تصميم</span>
                <span>تفاعل</span>
                <span>تطوير</span>
                <span>استوديو</span>
                <span>استراتيجية</span>
                <span>علامة تجارية</span>
                <span>وكالة تصميم وتسويق</span>
                <span>الخط</span>
                <span>تصميم</span>
                <span>تفاعل</span>
                <span>تطوير</span>
                <span>استوديو</span>
                <span>استراتيجية</span>
                <span>علامة تجارية</span>
            </div>
        </div>
        <div class="marque-group">
            <div class="marque-wrapper-2">
                <span>تطوير</span>
                <span>استوديو</span>
                <span>استراتيجية</span>
                <span>علامة تجارية</span>
                <span>وكالة تصميم وتسويق</span>
                <span>الخط</span>
                <span>تصميم</span>
                <span>تفاعل</span>
                <span>تطوير</span>
                <span>استوديو</span>
                <span>استراتيجية</span>
                <span>علامة تجارية</span>
                <span>وكالة تصميم وتسويق</span>
                <span>الخط</span>
                <span>تصميم</span>
                <span>تفاعل</span>
                <span>تطوير</span>
                <span>استوديو</span>
                <span>استراتيجية</span>
                <span>علامة تجارية</span>
                <span>وكالة تصميم وتسويق</span>
                <span>الخط</span>
                <span>تصميم</span>
                <span>تفاعل</span>
                <span>تطوير</span>
                <span>استوديو</span>
                <span>استراتيجية</span>
                <span>علامة تجارية</span>
                <span>وكالة تصميم وتسويق</span>
                <span>الخط</span>
                <span>تصميم</span>
                <span>تفاعل</span>
                <span>تطوير</span>
                <span>استوديو</span>
                <span>استراتيجية</span>
                <span>علامة تجارية</span>
                <span>وكالة تصميم وتسويق</span>
                <span>الخط</span>
                <span>تصميم</span>
                <span>تفاعل</span>
                <span>تطوير</span>
                <span>استوديو</span>
                <span>استراتيجية</span>
                <span>علامة تجارية</span>
                <span>وكالة تصميم وتسويق</span>
                <span>الخط</span>
                <span>تصميم</span>
                <span>تفاعل</span>
                <span>تطوير</span>
                <span>استوديو</span>
                <span>استراتيجية</span>
                <span>علامة تجارية</span>
                <span>وكالة تصميم وتسويق</span>
                <span>الخط</span>
                <span>تصميم</span>
                <span>تفاعل</span>
                <span>تطوير</span>
                <span>استوديو</span>
                <span>استراتيجية</span>
                <span>علامة تجارية</span>
            </div>
        </div>
    </div>

