    <section class="project-steps-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-6 col-lg-6">
                    <div class="services-banner">
                        <div class="title">
                            <div class="sub-title">
                                <p>طريقة العمل في جرافكسي</p>
                            </div>
                            <div class="main-title">
                                <h2 class="split-collab">خمس (5) خطوات<br> نحو التميز والإبداع
                                    <span><img src="/assets/images/static/text-shep-3.png" alt=""></span>
                                </h2>
                                <p class="services-area-description font-size-1-20"> في جرافكسي نؤمن أن النجاح لا يأتي
                                    صدفة، بل بعملية مدروسة تمزج الإبداع بالتخطيط. منهجيتنا التعاونية والشفافة تضعك في
                                    قلب المشروع حتى التسليم، لشراكة مريحة وناجحة.
                                </p>
                            </div>
                        </div>
                        <div class="pr-steps-inner">
                            <div class="services-img vre-reveal-one">
                                <img src="/assets/images/about/work-steps-1.webp" alt="VRE"
                                    class="vre-reveal-image-one">
                            </div>
                            <div class="services-img vre-reveal-one">
                                <img src="/assets/images/about/work-steps-2.webp" alt="VRE"
                                    class="vre-reveal-image-one">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="step-name wow bounceInUp">
                        <h4 class="font-size-1-40">الاستكشاف والاستراتيجية</h4>
                        <div class="services-info">
                            <p class="font-size-1-16">نضع أساس المشروع بفهم أهدافك وسبب وجوده قبل أي خطوة. </p>
                            <a href="services-details.html">
                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path d="m8.121 16.385 1.41-1.41-5.58-5.59h12.17v-2H3.951l5.59-5.58-1.42-1.42-8 8z"
                                        fill="#CCDEFF" />
                                </svg>

                            </a>
                        </div>
                    </div>
                    <div class="step-name wow bounceInUp">
                        <h4 class="font-size-1-40">وضع المخطط الإبداعي</h4>
                        <div class="services-info">
                            <p class="font-size-1-16">نحوّل الأفكار لرؤية واضحة وخطة عمل تربط الاستراتيجية بالتنفيذ.</p>
                            <a href="services-details.html">
                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path d="m8.121 16.385 1.41-1.41-5.58-5.59h12.17v-2H3.951l5.59-5.58-1.42-1.42-8 8z"
                                        fill="#CCDEFF" />
                                </svg>

                            </a>
                        </div>
                    </div>
                    <div class="step-name wow bounceInUp">
                        <h4 class="font-size-1-40">التنفيذ والإبداع</h4>
                        <div class="services-info">
                            <p class="font-size-1-16"> يبدأ فريقنا بتنفيذ المشروع بدقة وشغف بعد اعتماد الخطة النهائية.
                            </p>
                            <a href="services-details.html">
                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path d="m8.121 16.385 1.41-1.41-5.58-5.59h12.17v-2H3.951l5.59-5.58-1.42-1.42-8 8z"
                                        fill="#CCDEFF" />
                                </svg>

                            </a>
                        </div>
                    </div>
                    <div class="step-name wow bounceInUp">
                        <h4 class="font-size-1-40">المراجعة والتحسين</h4>
                        <div class="services-info">
                            <p class="font-size-1-16">نطور العمل بناءً على ملاحظاتك لضمان أفضل نتيجة ممكنة.</p>
                            <a href="services-details.html">
                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path d="m8.121 16.385 1.41-1.41-5.58-5.59h12.17v-2H3.951l5.59-5.58-1.42-1.42-8 8z"
                                        fill="#CCDEFF" />
                                </svg>

                            </a>
                        </div>
                    </div>
                    <div class="step-name wow bounceInUp">
                        <h4 class="font-size-1-40">التسليم والأطلاق</h4>
                        <div class="services-info border-bottom-0">
                            <p class="font-size-1-16">نسلم المشروع بإطلاق قوي ونبقى داعمين لنجاحه بعد الانطلاق.
                            </p>
                            <a href="services-details.html">
                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path d="m8.121 16.385 1.41-1.41-5.58-5.59h12.17v-2H3.951l5.59-5.58-1.42-1.42-8 8z"
                                        fill="#CCDEFF" />
                                </svg>

                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="two-btns-row font-size-1-20">
                <a href="/ar/services/" class="btn-s1">

                    تعرف أكثر عن جرافكسي
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-circle-plus-icon lucide-circle-plus">
                        <circle cx="12" cy="12" r="10" />
                        <path d="M8 12h8" />
                        <path d="M12 8v8" />
                    </svg>

                </a>
                <a href="/ar/pages/contact.html" class="btn-s2">

                    احصل على استشارة
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-corner-left-up-icon lucide-corner-left-up">
                        <path d="M14 9 9 4 4 9" />
                        <path d="M20 20h-7a4 4 0 0 1-4-4V4" />
                    </svg>
                </a>
            </div>
        </div>

    </section>