
    <!-- Start Values Area -->
    <section class="values-area st_box_jump_animation"
        style="background-image: url(/assets/images/backgrounds/bg-topo-lines.webp)  !important;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="values-area-wrapper">
                        <div class="title">
                            <div class="sub-title">
                                <p>قيمنا الأساسية</p>
                            </div>
                            <div class="main-title">
                                <h2 class="split-collab">
                                    الركائز التي بُنيت<br>
                                    عليها وكالة جرافكسي

                                </h2>
                            </div>
                        </div>
                        <div class="values-inner">
                            <div class="values-item wow bounceInUp" data-wow-delay="0.4s">
                                <div class="values-icon">
                                    <span>
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M22 5L8.25 18L2 12.0909" stroke="#CCDEFF" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </span>
                                </div>
                                <div class="values-text">
                                    <h5 class="font-size-1-24">الإبداع الجريء</h5>
                                    <p class="font-size-1-15">لأن كل مشروع عظيم يبدأ بفكرة جريئة تتحدى كل ما هو مألوف.
                                    </p>
                                </div>
                            </div>
                            <div class="values-item wow bounceInUp" data-wow-delay="0.4s">
                                <div class="values-icon">
                                    <span>
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M22 5L8.25 18L2 12.0909" stroke="#FF4A3B" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </span>
                                </div>
                                <div class="values-text">
                                    <h5 class="font-size-1-24">الاحترافية الدقيقة</h5>
                                    <p class="font-size-1-15">لأننا نؤمن بأن أدق التفاصيل هي التي تصنع عملاً فريداً
                                        واستثنائياً.</p>
                                </div>
                            </div>
                            <div class="values-item wow bounceInUp" data-wow-delay="0.4s">
                                <div class="values-icon">
                                    <span>
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M22 5L8.25 18L2 12.0909" stroke="#FF4A3B" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </span>
                                </div>
                                <div class="values-text">
                                    <h5 class="font-size-1-24">الشراكة الحقيقية</h5>
                                    <p class="font-size-1-15">لأننا نؤمن بأن التعاون والشراكة الحقيقية هي أساس النجاح
                                        المشترك.</p>
                                </div>
                            </div>
                            <div class="values-item wow bounceInUp" data-wow-delay="0.4s">
                                <div class="values-icon">
                                    <span>
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M22 5L8.25 18L2 12.0909" stroke="#FF4A3B" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </span>
                                </div>
                                <div class="values-text">
                                    <h5 class="font-size-1-24">الإلتزام بالنتـــائج</h5>
                                    <p class="font-size-1-15">لأن نجاح العميل هو المقياس الأوحد لنجاحنا وهو غايتنا
                                        الأساسية.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 offset-xl-1 offset-lg-1">
                    <div class="values-banner vre-reveal-one">
                        <img src="/assets/images/about/graphixy-value-banner.webp" alt="VRE"
                            class="vre-reveal-image-one">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Values Area -->
